___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid"
alt="CLRSWY"></p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:100%; text-align:center; border-radius:10px 10px;">WAY TO REINVENT YOURSELF</p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:200%; text-align:center; border-radius:10px 10px;">Data Analysis with Python</p>

![Image_Assignment](https://i.ibb.co/cY9HhF7/bnote-assignment.gif)

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#4d77cf; font-size:200%; text-align:center; border-radius:10px 10px;">Assignment 01 (NumPy & Pandas Basics)</p>

<a id="toc"></a>

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Content</p>

* [NUMPY SECTION](#0)
* [PANDAS SECTION](#1)

**In this assignment you will start off with Numpy Exercises and then complete the whole Exercise with Pandas questions. All the subjects related to questions here already covered in preclass materials and in-class sessions. So good luck!**

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Numpy Section</p>

<a id="0"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true"
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

### 1. Import NumPy Library.

In [1]:
# YOUR CODE IS HERE
import numpy as np

### 2. Create an array from my_list = [5, 10, 15, 20, 25]

In [4]:
# YOUR CODE IS HERE
my_list = [5, 10, 15, 20, 25]
c_array= np.array(my_list)
c_array

array([ 5, 10, 15, 20, 25])

Desired Output:

array([ 5, 10, 15, 20, 25])

### 3. Generate an array of 5x5 with zeros.

In [2]:
# YOUR CODE IS HERE

zarray = np.zeros((5,5))
zarray

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

Desired Output:

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

### 4. Generate an array of 4x4 with ones and assign data type as int.

In [19]:
# YOUR CODE IS HERE
orray=np.ones((4,4), dtype=int)
orray

array([[1, 1, 1, 1],
       [1, 1, 1, 1],
       [1, 1, 1, 1],
       [1, 1, 1, 1]])

Desired Output:

array([[1, 1, 1, 1],
       [1, 1, 1, 1],
       [1, 1, 1, 1],
       [1, 1, 1, 1]])

### 5. Make all the values of the array above with the value of 7.

In [26]:
# YOUR CODE IS HERE
orray.fill(7)
print(orray)

[[7 7 7 7]
 [7 7 7 7]
 [7 7 7 7]
 [7 7 7 7]]

Desired Output:

array([[7, 7, 7, 7],
       [7, 7, 7, 7],
       [7, 7, 7, 7],
       [7, 7, 7, 7]])

### 6. Create the previous array above by full() method.

In [28]:
# YOUR CODE IS HERE

fseven= np.full((4,4),7)
fseven

array([[7, 7, 7, 7],
       [7, 7, 7, 7],
       [7, 7, 7, 7],
       [7, 7, 7, 7]])

Desired Output:

array([[7, 7, 7, 7],
       [7, 7, 7, 7],
       [7, 7, 7, 7],
       [7, 7, 7, 7]])

### 7. Create an array of even integers from 2 to 16 (inclusive).

In [30]:
# YOUR CODE IS HERE

even = np.arange(2,17,2)
even

array([ 2,  4,  6,  8, 10, 12, 14, 16])

Desired Output:

array([ 2,  4,  6,  8, 10, 12, 14, 16])

### 8. Create a 5x5 matrix with the values between 0 to 25 (exclusive).

In [37]:
# YOUR CODE IS HERE

nw=np.arange(25).reshape(5, 5)
nw

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

Desired Output:

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

### 9. Create a 5x5 matrix with the values between 0 to 25 (exclusive) using linspace method.

In [43]:
# YOUR CODE IS HERE
nw5= np.linspace(0, 25, num=25, endpoint=False).reshape(5, 5)
nw5

array([[ 0.,  1.,  2.,  3.,  4.],
       [ 5.,  6.,  7.,  8.,  9.],
       [10., 11., 12., 13., 14.],
       [15., 16., 17., 18., 19.],
       [20., 21., 22., 23., 24.]])

Desired Output:

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

### 10. Create randomly 5 numbers with numpy.

In [45]:
# YOUR CODE IS HERE
randy=np.random.rand(5)
randy

array([0.53260974, 0.22798488, 0.05814234, 0.12940315, 0.3402412 ])

Desired Output (WATCH OUT! Your output will probably NOT be the same as the one below due to randomization):

array([0.69664494, 0.66387647, 0.97508534, 0.33818591, 0.58766187])

### 11. Create an array of 5*5 shape and fills it with random values as per the standard normal distribution.

In [48]:
# YOUR CODE IS HERE

rand_new= np.random.rand(5,5)
rand_new

array([[0.86152194, 0.57354997, 0.63634653, 0.4928486 , 0.5584147 ],
       [0.62517281, 0.08872415, 0.63992318, 0.73887102, 0.75963509],
       [0.8563988 , 0.99839207, 0.89740428, 0.59587411, 0.59086316],
       [0.01940798, 0.76824671, 0.23624547, 0.49607753, 0.64691047],
       [0.06096557, 0.86547128, 0.55224473, 0.8567064 , 0.03075388]])

Desired Output (WATCH OUT! Your output will probably NOT be the same as the one below due to randomization):

array([[ 0.73087006, -0.34675846, -1.03601606, -0.61227298, -0.57078798],
       [ 1.85976917, -0.37158111, -1.16789003, -0.81271697,  1.39620977],
       [ 0.52695367, -0.19017673,  0.78067235, -1.3520313 ,  0.44878344],
       [ 0.27758877,  0.75391726, -0.52652875,  0.74519765, -0.40414682],
       [ 0.12743864, -0.81637521,  0.14086653, -0.29524574,  0.12703938]])

### 12. Create a 3*4 array of random int numbers between 20 and 50.

In [3]:
# YOUR CODE IS HERE
ud= np.random.randint(20, 50, size=(3, 4))
ud

array([[34, 20, 43, 29],
       [31, 20, 34, 36],
       [20, 24, 25, 46]])

Desired Output (WATCH OUT! Your output will probably NOT be the same as the one below due to randomization):

array([[33, 39, 47, 26],
       [41, 20, 32, 23],
       [25, 22, 41, 28]])

### 13. Create an array named "ranarr"consisting of randomly 48 numbers and reshape this array with the shape of 6x8 in different ways.

In [62]:
# YOUR CODE IS HERE
ranarr= np.random.randint(50,size=(6, 8))
ranarr

array([[32, 11, 22,  5, 18, 24,  9,  7],
       [ 7, 26, 26, 17, 35, 38, 19, 38],
       [33, 45, 25, 22,  8, 43, 40,  2],
       [34, 13, 39, 32, 26, 42,  4, 35],
       [22,  7, 23, 48, 28,  0, 39, 19],
       [18, 34, 27,  6, 29, 19, 31, 21]])

Desired Output (WATCH OUT! Your output may NOT be the same as the one):

array([ 6, 21, 18, 53, 38, 37, 30, 47, 19, 44, 29, 12, 14, 37, 24, 14, 16,
       18,  3, 19, 19, 41, 28, 41,  3, 47,  4, 18, 27, 44, 15, 21,  5, 55,
       38,  9,  5, 50, 15, 20,  7, 26, 45, 39, 37, 23,  6, 10])

In [68]:
# YOUR CODE IS HERE (RESHAPING WITH NUM)

ranarr = np.random.random(48)
reshaped_array1 = ranarr.reshape(6, 8)
reshaped_array1

array([[0.39051029, 0.50598252, 0.40221556, 0.01575099, 0.21172588,
        0.40944256, 0.70255672, 0.38975339],
       [0.0875853 , 0.90449267, 0.66024533, 0.9258798 , 0.56386905,
        0.47912686, 0.48156757, 0.84420106],
       [0.81227015, 0.88466253, 0.40524261, 0.19504961, 0.90232038,
        0.93178792, 0.40898933, 0.97061659],
       [0.46732828, 0.93981494, 0.87232533, 0.5509671 , 0.01442481,
        0.704751  , 0.08418393, 0.46910561],
       [0.2322055 , 0.10711246, 0.24842528, 0.74448679, 0.4124325 ,
        0.42322558, 0.18248121, 0.67491644],
       [0.8859324 , 0.83266598, 0.22484377, 0.20326037, 0.8710079 ,
        0.1949816 , 0.83544479, 0.45452334]])

Desired Output (WATCH OUT! Your output may NOT be the same as the one):

array([[ 6, 21, 18, 53, 38, 37, 30, 47],
       [19, 44, 29, 12, 14, 37, 24, 14],
       [16, 18,  3, 19, 19, 41, 28, 41],
       [ 3, 47,  4, 18, 27, 44, 15, 21],
       [ 5, 55, 38,  9,  5, 50, 15, 20],
       [ 7, 26, 45, 39, 37, 23,  6, 10]])

In [70]:
# YOUR CODE IS HERE (RESHAPING WITH -1)

[[0.39051029 0.50598252 0.40221556 0.01575099 0.21172588 0.40944256
  0.70255672 0.38975339]
 [0.0875853  0.90449267 0.66024533 0.9258798  0.56386905 0.47912686
  0.48156757 0.84420106]
 [0.81227015 0.88466253 0.40524261 0.19504961 0.90232038 0.93178792
  0.40898933 0.97061659]
 [0.46732828 0.93981494 0.87232533 0.5509671  0.01442481 0.704751
  0.08418393 0.46910561]
 [0.2322055  0.10711246 0.24842528 0.74448679 0.4124325  0.42322558
  0.18248121 0.67491644]
 [0.8859324  0.83266598 0.22484377 0.20326037 0.8710079  0.1949816
  0.83544479 0.45452334]]

Desired Output (WATCH OUT! Your output may NOT be the same as the one):

array([[ 6, 21, 18, 53, 38, 37, 30, 47],
       [19, 44, 29, 12, 14, 37, 24, 14],
       [16, 18,  3, 19, 19, 41, 28, 41],
       [ 3, 47,  4, 18, 27, 44, 15, 21],
       [ 5, 55, 38,  9,  5, 50, 15, 20],
       [ 7, 26, 45, 39, 37, 23,  6, 10]])

In [71]:
# YOUR CODE IS HERE (RESHAPING WITH -1)
reshaped_array2 = ranarr.reshape(6, -1)
print(reshaped_array2)

[[0.39051029 0.50598252 0.40221556 0.01575099 0.21172588 0.40944256
  0.70255672 0.38975339]
 [0.0875853  0.90449267 0.66024533 0.9258798  0.56386905 0.47912686
  0.48156757 0.84420106]
 [0.81227015 0.88466253 0.40524261 0.19504961 0.90232038 0.93178792
  0.40898933 0.97061659]
 [0.46732828 0.93981494 0.87232533 0.5509671  0.01442481 0.704751
  0.08418393 0.46910561]
 [0.2322055  0.10711246 0.24842528 0.74448679 0.4124325  0.42322558
  0.18248121 0.67491644]
 [0.8859324  0.83266598 0.22484377 0.20326037 0.8710079  0.1949816
  0.83544479 0.45452334]]

Desired Output (WATCH OUT! Your output may NOT be the same as the one):

array([[ 6, 21, 18, 53, 38, 37, 30, 47],
       [19, 44, 29, 12, 14, 37, 24, 14],
       [16, 18,  3, 19, 19, 41, 28, 41],
       [ 3, 47,  4, 18, 27, 44, 15, 21],
       [ 5, 55, 38,  9,  5, 50, 15, 20],
       [ 7, 26, 45, 39, 37, 23,  6, 10]])

## Numpy Indexing and Selection

### Create an array named "mat" in accordence with the desired output below.

In [40]:
# YOUR CODE IS HERE
mat= np.arange(1,17).reshape(4,4)
mat

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12],
       [13, 14, 15, 16]])

Desired Output:

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12],
       [13, 14, 15, 16]])

### 14. Using the array above, write a code that reproduces the desired output shown below.<br>

In [41]:
# YOUR CODE IS HERE
sliced = mat[1:3, 1:3]
sliced

array([[ 6,  7],
       [10, 11]])

Desired Output:

array([[ 6,  7],
       [10, 11]])

### 15. Get the 1st column (index number 0) of the array above.

In [20]:
# YOUR CODE IS HERE
fc= mat[:,0]
fc

array([ 1,  5,  9, 13])

Desired Output:

array([ 1,  5,  9, 13])

### 16. Get the values in 2nd row (index number 1) for every 2 step.

In [21]:
mat

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12],
       [13, 14, 15, 16]])

In [22]:
# YOUR CODE IS HERE
step= mat[1, ::2]
step

array([5, 7])

Desired Output:

array([5, 7])

### 17.Assign 77 to every cell in 3rd column.

In [42]:
# YOUR CODE IS HERE
mat[::,2]=77
mat

array([[ 1,  2, 77,  4],
       [ 5,  6, 77,  8],
       [ 9, 10, 77, 12],
       [13, 14, 77, 16]])

Desired Output:

array([[ 1,  2, 77,  4],
       [ 5,  6, 77,  8],
       [ 9, 10, 77, 12],
       [13, 14, 77, 16]])

### 18. (a) Take 2nd row (index number 1) and 1st column (index number 0) , (b) 4th row (index number 3) and 3rd column (index number 2) .

In [24]:
a=mat[1,0],mat[3,2]

In [25]:
# YOUR CODE IS HERE
son= np.array([a])
son

array([[ 5, 77]])

Desired Output:

array([ 5, 77])

### 19. Take between 2nd and last row with step 2 and between 1st and last column with step 2.

In [26]:
# YOUR CODE IS HERE
tod= mat[1::2, 0::2]
tod

array([[ 5, 77],
       [13, 77]])

Desired Output:

array([[ 5, 77],
       [13, 77]])

## NumPy Operations

### 20. Get the sum of values smaller than 10 and values bigger than 12 in "mat".

In [38]:
ok=np.array([mat < 10])
ok

array([[[ True,  True,  True,  True],
        [ True,  True,  True,  True],
        [ True, False, False, False],
        [False, False, False, False]]])

In [39]:
# LET US REMEMBER OUR ARRAY OF "mat"

# YOUR CODE IS HERE
ondankucuk= np.sum(mat[mat < 10])
ondankucuk

45

In [29]:
onikidenbuyuk=np.sum(mat[mat > 12])
onikidenbuyuk

351

Desired Output:

array([[ 1,  2, 77,  4],
       [ 5,  6, 77,  8],
       [ 9, 10, 77, 12],
       [13, 14, 77, 16]])

In [30]:
# LET US FIND THE VALUES SMALLER THAN 10 IN "mat"

# YOUR CODE IS HERE

ok=np.array(mat[mat < 10])
ok

array([1, 2, 4, 5, 6, 8, 9])

Desired Output:

array([1, 2, 4, 5, 6, 8, 9])

In [31]:
# LET US FIND THE VALUES BIGGER THAN 12 IN "mat"

# YOUR CODE IS HERE

ooi=np.array(mat[mat > 12])
ooi

array([77, 77, 77, 13, 14, 77, 16])

Desired Output:

array([77, 77, 77, 13, 14, 77, 16])

In [45]:
# LET US SUM THE VALUES SMALLER THAN 10 AND BIGGER THAN 12 IN "mat"

# YOUR CODE IS HERE


sum_smaller_than_10 = np.sum(mat[mat < 10])


sum_bigger_than_12 = np.sum(mat[mat > 12])

# Total sum
total_sum = sum_smaller_than_10 + sum_bigger_than_12
print("Total sum of values smaller than 10 and bigger than 12:", total_sum)

Total sum of values smaller than 10 and bigger than 12: 103

Desired Output:

array([78, 79, 81, 18, 20, 85, 25])

### 21. Get the standard deviation (std) of the result above.

In [44]:
values_to_consider = np.concatenate((mat[mat < 10], mat[mat > 12]))
values_to_consider

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 13, 14, 15, 16])

In [43]:
# YOUR CODE IS HERE

Standard deviation of the values: 4.921874853245043

Desired Output:

29.700546274093877

### 22. Get the sum of the 2nd column in the original "mat".

In [14]:
# LET US REMEMBER OUR ARRAY OF "mat"

# YOUR CODE IS HERE
mat[::,2]=77
mat

array([[ 1,  2, 77,  4],
       [ 5,  6, 77,  8],
       [ 9, 10, 77, 12],
       [13, 14, 77, 16]])

Desired Output:

array([[ 1,  2, 77,  4],
       [ 5,  6, 77,  8],
       [ 9, 10, 77, 12],
       [13, 14, 77, 16]])

In [47]:
# LET OBTAIN THE ORIGINAL ARRAY OF "mat"

# YOUR CODE IS HERE

mat = np.arange(1, 17).reshape(4, 4)
mat

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12],
       [13, 14, 15, 16]])

Desired Output:

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12],
       [13, 14, 15, 16]])

In [49]:
# YOUR CODE IS HERE
mat[3,3]*2

32

Desired Output:

32

### 23. Get the median, mean and std of 3rd column in "mat".

In [50]:
# LET US REMEMBER OUR ARRAY OF "mat"

# YOUR CODE IS HERE

mat

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12],
       [13, 14, 15, 16]])

Desired Output:

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12],
       [13, 14, 15, 16]])

In [53]:
# LET US ASSIGN THE COLUMN WE ARE INTERESTED IN TO A VARIABLE

# YOUR CODE IS HERE
mat[:,2].reshape(4,1)

array([[ 3],
       [ 7],
       [11],
       [15]])

Desired Output:

array([[ 3],
       [ 7],
       [11],
       [15]])

In [56]:
# WHAT IF WE ARE INTERESTED IN THE 3RD ROW?

# YOUR CODE IS HERE

mat[2]

array([ 9, 10, 11, 12])

Desired Output:

array([ 9, 10, 11, 12])

In [65]:
# LET US GET MEDIAN VALUE

# YOUR CODE IS HERE
media_one= np.median(mat[:,2])
media_two= np.median(mat[2])
print(media_one)
media_two

9.0

10.5

Desired Output:

9.0
10.5

In [66]:
# LET US GET MEAN VALUE

# YOUR CODE IS HERE

medi_one= np.mean(mat[:,2])
medi_two= np.mean(mat[2])
print(medi_one)
medi_two

9.0

10.5

Desired Output:

9.0
10.5

In [67]:
# LET US GET STANDART DEVIATION (std) VALUE

# YOUR CODE IS HERE
mei_one= np.std(mat[:,2])
mei_two= np.std(mat[2])
print(mei_one)
mei_two

4.47213595499958

1.118033988749895

Desired Output:

4.47213595499958
1.118033988749895

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Pandas Section</p>

<a id="1"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true"
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

### Import Pandas Library

In [68]:
import pandas as pd

### Read Salaries.csv and take a look at the first 5 rows, df info and df statistical measurements.*

[pandas.read_csv() function --> (pandas official document)](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html)

In [99]:
!pip install py7zr

import py7zr
with py7zr.SevenZipFile('Salaries.7z', mode='r') as z:
    z.extractall()

Collecting py7zr
  Downloading py7zr-0.22.0-py3-none-any.whl.metadata (16 kB)
Collecting texttable (from py7zr)
  Downloading texttable-1.7.0-py2.py3-none-any.whl.metadata (9.8 kB)
Collecting pycryptodomex>=3.16.0 (from py7zr)
  Downloading pycryptodomex-3.21.0-cp36-abi3-win_amd64.whl.metadata (3.4 kB)
Collecting pyzstd>=0.15.9 (from py7zr)
  Downloading pyzstd-0.16.2-cp312-cp312-win_amd64.whl.metadata (2.5 kB)
Collecting pyppmd<1.2.0,>=1.1.0 (from py7zr)
  Downloading pyppmd-1.1.0-cp312-cp312-win_amd64.whl.metadata (5.8 kB)
Collecting pybcj<1.1.0,>=1.0.0 (from py7zr)
  Downloading pybcj-1.0.2-cp312-cp312-win_amd64.whl.metadata (4.1 kB)
Collecting multivolumefile>=0.2.3 (from py7zr)
  Downloading multivolumefile-0.2.3-py3-none-any.whl.metadata (6.3 kB)
Collecting inflate64<1.1.0,>=1.0.0 (from py7zr)
  Downloading inflate64-1.0.0-cp312-cp312-win_amd64.whl.metadata (4.1 kB)
Collecting brotli>=1.1.0 (from py7zr)
  Downloading Brotli-1.1.0-cp312-cp312-win_amd64.whl.metadata (5.6 kB)
Requirement already satisfied: psutil in c:\users\eyp\.ipython\lib\site-packages (from py7zr) (5.9.0)
Downloading py7zr-0.22.0-py3-none-any.whl (67 kB)
   ---------------------------------------- 0.0/67.9 kB ? eta -:--:--
   ------------------ --------------------- 30.7/67.9 kB 660.6 kB/s eta 0:00:01
   ---------------------------------------- 67.9/67.9 kB 739.3 kB/s eta 0:00:00
Downloading Brotli-1.1.0-cp312-cp312-win_amd64.whl (357 kB)
   ---------------------------------------- 0.0/357.3 kB ? eta -:--:--
   --- ------------------------------------ 30.7/357.3 kB 1.3 MB/s eta 0:00:01
   ------- ------------------------------- 71.7/357.3 kB 787.7 kB/s eta 0:00:01
   ----------- -------------------------- 112.6/357.3 kB 939.4 kB/s eta 0:00:01
   --------------- ---------------------- 143.4/357.3 kB 853.3 kB/s eta 0:00:01
   -------------------- ----------------- 194.6/357.3 kB 908.0 kB/s eta 0:00:01
   ----------------------- -------------- 225.3/357.3 kB 860.2 kB/s eta 0:00:01
   --------------------------- ---------- 256.0/357.3 kB 874.6 kB/s eta 0:00:01
   ------------------------------ ------- 286.7/357.3 kB 842.9 kB/s eta 0:00:01
   --------------------------------- ---- 317.4/357.3 kB 855.7 kB/s eta 0:00:01
   -------------------------------------- 357.3/357.3 kB 854.7 kB/s eta 0:00:00
Downloading inflate64-1.0.0-cp312-cp312-win_amd64.whl (35 kB)
Downloading multivolumefile-0.2.3-py3-none-any.whl (17 kB)
Downloading pybcj-1.0.2-cp312-cp312-win_amd64.whl (24 kB)
Downloading pycryptodomex-3.21.0-cp36-abi3-win_amd64.whl (1.8 MB)
   ---------------------------------------- 0.0/1.8 MB ? eta -:--:--
    --------------------------------------- 0.0/1.8 MB 1.3 MB/s eta 0:00:02
   - -------------------------------------- 0.1/1.8 MB 812.7 kB/s eta 0:00:03
   -- ------------------------------------- 0.1/1.8 MB 871.5 kB/s eta 0:00:02
   --- ------------------------------------ 0.1/1.8 MB 853.3 kB/s eta 0:00:02
   --- ------------------------------------ 0.2/1.8 MB 871.5 kB/s eta 0:00:02
   ---- ----------------------------------- 0.2/1.8 MB 827.9 kB/s eta 0:00:02
   ----- ---------------------------------- 0.2/1.8 MB 846.9 kB/s eta 0:00:02
   ------ --------------------------------- 0.3/1.8 MB 850.6 kB/s eta 0:00:02
   ------ --------------------------------- 0.3/1.8 MB 853.3 kB/s eta 0:00:02
   ------- -------------------------------- 0.3/1.8 MB 864.2 kB/s eta 0:00:02
   -------- ------------------------------- 0.4/1.8 MB 859.0 kB/s eta 0:00:02
   --------- ------------------------------ 0.4/1.8 MB 865.6 kB/s eta 0:00:02
   ---------- ----------------------------- 0.5/1.8 MB 848.5 kB/s eta 0:00:02
   ---------- ----------------------------- 0.5/1.8 MB 836.7 kB/s eta 0:00:02
   ----------- ---------------------------- 0.5/1.8 MB 862.0 kB/s eta 0:00:02
   ------------ --------------------------- 0.6/1.8 MB 842.9 kB/s eta 0:00:02
   ------------- -------------------------- 0.6/1.8 MB 863.3 kB/s eta 0:00:02
   ------------- -------------------------- 0.6/1.8 MB 849.9 kB/s eta 0:00:02
   -------------- ------------------------- 0.7/1.8 MB 855.6 kB/s eta 0:00:02
   --------------- ------------------------ 0.7/1.8 MB 860.8 kB/s eta 0:00:02
   ---------------- ----------------------- 0.7/1.8 MB 849.3 kB/s eta 0:00:02
   ---------------- ----------------------- 0.8/1.8 MB 866.0 kB/s eta 0:00:02
   ----------------- ---------------------- 0.8/1.8 MB 855.2 kB/s eta 0:00:02
   ------------------ --------------------- 0.8/1.8 MB 866.5 kB/s eta 0:00:02
   ------------------- -------------------- 0.9/1.8 MB 856.7 kB/s eta 0:00:02
   -------------------- ------------------- 0.9/1.8 MB 860.7 kB/s eta 0:00:02
   -------------------- ------------------- 0.9/1.8 MB 851.8 kB/s eta 0:00:02
   --------------------- ------------------ 1.0/1.8 MB 855.6 kB/s eta 0:00:01
   ---------------------- ----------------- 1.0/1.8 MB 868.1 kB/s eta 0:00:01
   ----------------------- ---------------- 1.0/1.8 MB 859.7 kB/s eta 0:00:01
   ----------------------- ---------------- 1.1/1.8 MB 852.0 kB/s eta 0:00:01
   ------------------------ --------------- 1.1/1.8 MB 860.6 kB/s eta 0:00:01
   ------------------------- -------------- 1.2/1.8 MB 853.3 kB/s eta 0:00:01
   -------------------------- ------------- 1.2/1.8 MB 856.4 kB/s eta 0:00:01
   --------------------------- ------------ 1.2/1.8 MB 864.1 kB/s eta 0:00:01
   --------------------------- ------------ 1.3/1.8 MB 857.4 kB/s eta 0:00:01
   ----------------------------- ---------- 1.4/1.8 MB 850.1 kB/s eta 0:00:01
   ------------------------------ --------- 1.4/1.8 MB 852.3 kB/s eta 0:00:01
   ------------------------------- -------- 1.4/1.8 MB 859.5 kB/s eta 0:00:01
   -------------------------------- ------- 1.5/1.8 MB 853.8 kB/s eta 0:00:01
   --------------------------------- ------ 1.5/1.8 MB 861.7 kB/s eta 0:00:01
   --------------------------------- ------ 1.5/1.8 MB 856.7 kB/s eta 0:00:01
   ---------------------------------- ----- 1.6/1.8 MB 858.5 kB/s eta 0:00:01
   ----------------------------------- ---- 1.6/1.8 MB 860.7 kB/s eta 0:00:01
   ----------------------------------- ---- 1.6/1.8 MB 855.6 kB/s eta 0:00:01
   ------------------------------------ --- 1.7/1.8 MB 863.1 kB/s eta 0:00:01
   ------------------------------------- -- 1.7/1.8 MB 858.1 kB/s eta 0:00:01
   -------------------------------------- - 1.7/1.8 MB 853.3 kB/s eta 0:00:01
   -------------------------------------- - 1.7/1.8 MB 853.3 kB/s eta 0:00:01
   ---------------------------------------  1.8/1.8 MB 854.1 kB/s eta 0:00:01
   ---------------------------------------- 1.8/1.8 MB 849.9 kB/s eta 0:00:00
Downloading pyppmd-1.1.0-cp312-cp312-win_amd64.whl (46 kB)
   ---------------------------------------- 0.0/46.2 kB ? eta -:--:--
   -------------------------- ------------- 30.7/46.2 kB 1.3 MB/s eta 0:00:01
   ---------------------------------------- 46.2/46.2 kB 765.0 kB/s eta 0:00:00
Downloading pyzstd-0.16.2-cp312-cp312-win_amd64.whl (245 kB)
   ---------------------------------------- 0.0/245.3 kB ? eta -:--:--
   ---- ---------------------------------- 30.7/245.3 kB 640.0 kB/s eta 0:00:01
   --------- ----------------------------- 61.4/245.3 kB 656.4 kB/s eta 0:00:01
   -------------- ------------------------ 92.2/245.3 kB 871.5 kB/s eta 0:00:01
   ------------------- ------------------ 122.9/245.3 kB 798.9 kB/s eta 0:00:01
   -------------------------- ----------- 174.1/245.3 kB 871.5 kB/s eta 0:00:01
   ------------------------------- ------ 204.8/245.3 kB 827.9 kB/s eta 0:00:01
   ------------------------------------ - 235.5/245.3 kB 846.9 kB/s eta 0:00:01
   ------------------------------------ - 235.5/245.3 kB 846.9 kB/s eta 0:00:01
   -------------------------------------- 245.3/245.3 kB 653.0 kB/s eta 0:00:00
Downloading texttable-1.7.0-py2.py3-none-any.whl (10 kB)
Installing collected packages: texttable, brotli, pyzstd, pyppmd, pycryptodomex, pybcj, multivolumefile, inflate64, py7zr
  Attempting uninstall: brotli
    Found existing installation: Brotli 1.0.9
    Uninstalling Brotli-1.0.9:
      Successfully uninstalled Brotli-1.0.9
Successfully installed brotli-1.1.0 inflate64-1.0.0 multivolumefile-0.2.3 py7zr-0.22.0 pybcj-1.0.2 pycryptodomex-3.21.0 pyppmd-1.1.0 pyzstd-0.16.2 texttable-1.7.0

  WARNING: Failed to remove contents in a temporary directory 'C:\Users\EYP\AppData\Local\Temp\pip-uninstall-2daprtcm'.
  You can safely remove it manually.

In [83]:
# LET US READ Salaries.csv

df = pd.read_csv('Salaries.csv')

In [84]:
# LET US LOOK AT THE FIRST 5 ROWS

# YOUR CODE IS HERE
df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

Desired Output:

![image.png](https://i.ibb.co/6BTmGX8/assignment1a.png)

In [86]:
# LET US GET A SAMPLE

# YOUR CODE IS HERE
sample_df = df.sample()
sample_df

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
101869,101870,Earl A Scott,Transit Operator,22401.85,6328.66,224.92,10546.09,28955.43,39501.52,2013,NaN,San Francisco,NaN

Desired Output (WATCH OUT! Your output may NOT be the same as the one):

![image.png](https://i.ibb.co/mcsCxxC/assignment1b.png)

In [89]:
# YOUR CODE IS HERE

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

Desired Output:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

In [90]:
# LET US GET SOME DESCRIPTIVE MEASUREMENTS

# YOUR CODE IS HERE

df.describe()

,Id,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Status
count,148654.000000,148045.000000,148650.000000,148650.000000,112491.000000,148654.000000,148654.000000,148654.000000,0.0,0.0
mean,74327.500000,66325.448840,5066.059886,3648.767297,25007.893151,74768.321972,93692.554811,2012.522643,NaN,NaN
std,42912.857795,42764.635495,11454.380559,8056.601866,15402.215858,50517.005274,62793.533483,1.117538,NaN,NaN
min,1.000000,-166.010000,-0.010000,-7058.590000,-33.890000,-618.130000,-618.130000,2011.000000,NaN,NaN
25%,37164.250000,33588.200000,0.000000,0.000000,11535.395000,36168.995000,44065.650000,2012.000000,NaN,NaN
50%,74327.500000,65007.450000,0.000000,811.270000,28628.620000,71426.610000,92404.090000,2013.000000,NaN,NaN
75%,111490.750000,94691.050000,4658.175000,4236.065000,35566.855000,105839.135000,132876.450000,2014.000000,NaN,NaN
max,148654.000000,319275.010000,245131.880000,400184.250000,96570.660000,567595.430000,567595.430000,2014.000000,NaN,NaN

Desired Output:

![image.png](https://i.ibb.co/ftMP67H/assignmnet1c.png)

### How many different year values are there?

In [100]:
# YOUR CODE IS HERE

hmy= df['Year'].value_counts()
hmy

Year
2014    38123
2013    37606
2012    36766
2011    36159
Name: count, dtype: int64

Desired Output:

2014    38123
2013    37606
2012    36766
2011    36159
Name: Year, dtype: int64

In [98]:
# LET US FIND THE NUMBER OF UNIQUE VALUES IN THE COLUMN OF "Year"

# YOUR CODE IS HERE

uniqueyear = df['Year'].nunique()
uniqueyear

4

Desired Output:

4

In [101]:
# LET US FIND THE UNIQUE VALUES IN THE COLUMN OF "Year"

# YOUR CODE IS HERE

uniqee = df['Year'].unique()
uniqee

array([2011, 2012, 2013, 2014], dtype=int64)

Desired Output:

array([2011, 2012, 2013, 2014], dtype=int64)

### Print out max and avg values in the column of "Totalpay".

In [105]:
# LET US FIND THE MAXIMUM TOTALPAY

# YOUR CODE IS HERE

max_val = df['TotalPay'].max()
max_val

567595.43

Desired Output:

567595.43

In [106]:
# LET US FIND THE AVERAGE TOTALPAY

# YOUR CODE IS HERE

avg_val = df['TotalPay'].mean()
avg_val

74768.32197169267

Desired Output:

74768.321971703

### How many records in the TotalPay column are there bigger than avg TotalPay?

In [ ]:
# YOUR CODE IS HERE

In [109]:
count_bigger = df[df['TotalPay']>avg_val]
count_bigger

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
135701,135702,Christina S Jee,Nurse Practitioner,70635.61,0.00,6550.41,771.88,77186.02,77957.90,2014,NaN,San Francisco,NaN
135778,135779,Mary Ann T Abille,Special Nurse,60889.34,6815.67,9041.21,767.47,76746.22,77513.69,2014,NaN,San Francisco,NaN
135847,135848,Emilda E Reinosa,Special Nurse,76305.74,0.00,0.00,763.08,76305.74,77068.82,2014,NaN,San Francisco,NaN
135853,135854,David G Evans,Special Nurse,71178.15,2748.15,2354.40,762.81,76280.70,77043.51,2014,NaN,San Francisco,NaN
136063,136064,Nicole Joe,Special Nurse,61276.59,8538.44,5078.67,748.95,74893.70,75642.65,2014,NaN,San Francisco,NaN

Desired Output:

![image.png](https://i.ibb.co/nj84FbZ/assignment1d.png)

In [ ]:
# YOUR CODE IS HERE

Desired Output:

69489

### How much does ALBERT PARDINI make money (including benefits)?

In [112]:
# YOUR CODE IS HERE
min_val = df['TotalPay'].min()
min_val

-618.13

Desired Output:

2    335279.91
Name: TotalPayBenefits, dtype: float64

### Who is the lowest paid person?

In [123]:
lowest_paid_person = df.loc[df['TotalPay'].idxmin(), 'EmployeeName']
lowest_paid_person

'Joe Lopez'

In [124]:
# YOUR CODE IS HERE

Desired Output:

148653    Joe Lopez
Name: EmployeeName, dtype: object

### What are the unique Jobs in dataset?

In [126]:
# YOUR CODE IS HERE

uniq_job = df['JobTitle'].unique()

Desired Output:

array(['GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY',
       'CAPTAIN III (POLICE DEPARTMENT)',
       'WIRE ROPE CABLE MAINTENANCE MECHANIC', ..., 'Conversion',
       'Cashier 3', 'Not provided'], dtype=object)

### List the top 3 least common Jobs in the dataset.

In [127]:
# YOUR CODE IS HERE

least_common_jobs = df['JobTitle'].value_counts().nsmallest(3)
least_common_jobs

JobTitle
BOARD SECRETARY - MUNICIPAL TRANSPORTATION AGENC    1
FEASIBILITY ANALYST, PORT                           1
ELECTROENCEPHALOGRAPH TECHNICIAN I                  1
Name: count, dtype: int64

Desired Output:

COURT COMPUTER FACILITIES COORDINATOR             1
AUTOMOTIVE BODY AND FENDER WORKER SUPERVISOR I    1
VICTIM & WITNESS TECHNICIAN                       1
Name: JobTitle, dtype: int64

### How many people earned more than avg in 2012?

In [129]:
# YOUR CODE IS HERE

df2012 = df[df['Year']==2012]

In [132]:
avg2012= df2012['TotalPay'].mean()

In [133]:
avg_more= df2012[df2012['TotalPay']>avg2012]
avg_more

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
36159,36160,Gary Altenberg,"Lieutenant, Fire Suppression",128808.87,220909.48,13126.31,44430.12,362844.66,407274.78,2012,NaN,San Francisco,NaN
36160,36161,Gregory Suhr,Chief of Police,302578.00,0.00,18974.11,69810.19,321552.11,391362.30,2012,NaN,San Francisco,NaN
36161,36162,Khoa Trinh,Electronic Maintenance Tech,111921.00,146415.32,78057.41,53102.29,336393.73,389496.02,2012,NaN,San Francisco,NaN
36162,36163,Joanne Hayes-White,"Chief, Fire Department",296943.01,0.00,17816.59,72047.88,314759.60,386807.48,2012,NaN,San Francisco,NaN
36163,36164,Frederick Binkley,EMT/Paramedic/Firefighter,126863.19,192424.49,17917.18,44438.25,337204.86,381643.11,2012,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
60315,60316,William Jones,Manager V,74195.53,0.00,0.00,5989.25,74195.53,80184.78,2012,NaN,San Francisco,NaN
60463,60464,Carol Pirolli,Special Nurse,72375.35,2057.90,3559.98,1620.16,77993.23,79613.39,2012,NaN,San Francisco,NaN
60717,60718,Jocelyn Weiler,Special Nurse,69504.72,5190.55,2658.79,1394.10,77354.06,78748.16,2012,NaN,San Francisco,NaN
60733,60734,Diana Edward,Special Nurse,76434.48,0.00,834.73,1433.57,77269.21,78702.78,2012,NaN,San Francisco,NaN
60900,60901,Mary Ann Hauf,Special Nurse,73681.40,2723.40,46.54,1477.34,76451.34,77928.68,2012,NaN,San Francisco,NaN

Desired Output:

20366

### How many people have a title of Manager in their jobs?

In [136]:
# USE APPLY FUNCTION

# YOUR CODE IS HERE

filter_manager= df[df['JobTitle']== 'Manager']
filter_manager_count = filter_manager. counts()
filter_manager_count

AttributeError: 'DataFrame' object has no attribute 'counts'

In [140]:
def contains_manager(title):
    return 'Manager' in title


# Apply the function to the JobTitle column and sum the True values
manager_count = df['JobTitle'].apply(contains_manager).sum()
manager_count

3080

3080

Desired Output:

4110

### Take Id, EmployeeName, JobTitle, TotalPay and TotalPayBenefits columns with iloc and assign them as sal_new dataframe.

In [143]:
# YOUR CODE IS HERE
sal_new = df.iloc[:, [0, 1, 2, 7, 8]]
sal_new

,Id,EmployeeName,JobTitle,TotalPay,TotalPayBenefits
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,567595.43,567595.43
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),538909.28,538909.28
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),335279.91,335279.91
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,332343.61,332343.61
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",326373.19,326373.19
...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00
148650,148651,Not provided,Not provided,0.00,0.00
148651,148652,Not provided,Not provided,0.00,0.00
148652,148653,Not provided,Not provided,0.00,0.00
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",-618.13,-618.13

Desired Output:

![image.png](https://i.ibb.co/ZgFCbPm/assignment1e.png)

### Take the columns betweeen EmployeeName and TotalPayBenefits with loc and assign them as sal_new df.

In [145]:
# YOUR CODE IS HERE

sal_new = df.loc[:, 'EmployeeName':'TotalPayBenefits']
sal_new.head()

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits
0,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43
1,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28
2,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91
3,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61
4,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19

Desired Output:

![image.png](https://i.ibb.co/s2CYS7H/assignment1f.png)

### Print out the names of the employees who earn more than min but less than avg.

In [148]:
min_val = df['TotalPay'].min()
min_val

-618.13

In [147]:
avg_val = df['TotalPay'].mean()
avg_val

74768.32197169267

In [149]:

filtered_employees = df[(df['TotalPay'] > min_val) & (df['TotalPay'] < avg_val)]
filtered_employees

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
15847,15848,TATYANA ROTENBERG,ELIGIBILITY WORKER SUPERVISOR,73155.87,0.00,1609.00,NaN,74764.87,74764.87,2011,NaN,San Francisco,NaN
15848,15849,WINSTON HOM,AUTOMOTIVE MACHINIST,73554.60,0.00,1206.95,NaN,74761.55,74761.55,2011,NaN,San Francisco,NaN
15849,15850,CRAIG RIGLER,SENIOR FARE COLLECTIONS RECEIVER,64694.49,4245.85,5819.58,NaN,74759.92,74759.92,2011,NaN,San Francisco,NaN
15850,15851,WENDY TAN,PORTER,48472.40,25660.36,624.00,NaN,74756.76,74756.76,2011,NaN,San Francisco,NaN
15851,15852,KENNETH BREWER,WATERSHED KEEPER,60206.62,198.04,14346.93,NaN,74751.59,74751.59,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148648,148649,Leon Walker,Custodian,0.00,0.00,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,NaN
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,NaN
148650,148651,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN

In [151]:
# YOUR CODE IS HERE

employee_names = filtered_employees['EmployeeName'].tolist()
employee_names

['TATYANA ROTENBERG',
 'WINSTON HOM',
 'CRAIG RIGLER',
 'WENDY TAN',
 'KENNETH BREWER',
 'MAKOTO TOMONAGA',
 'BROOKE BASSETT',
 'JENNIFER COLLINS',
 'JAIME BARCIA',
 'IL CHUNG',
 'ANITA FONG',
 'JOAN RYAN',
 'MARTIN JENDRYSIK',
 'IDIL BEREKET',
 'ROGER TAM',
 'NANCY LACAP',
 'THOMAS BEEM',
 'SUSIE LAU',
 'MARC BASUINO',
 'FENDI NG',
 'RAMONA TORRES',
 'LINH TRUONG',
 'ALBERIC ANTH RIVERA',
 'FRANCISCO SOSA',
 'WILLIAM QUAN',
 'RACHAEL JOHNSON',
 'DANIEL ARANA',
 'ILARIA SALVADORI',
 'KRYSTEN LAINE',
 'VERONICA MORAN-DIAZ',
 'ANNA LISA AUSTRIA',
 'DAVID PHILLIP',
 'MELISSA RILEY',
 'CHARLES BELOV',
 'MICHAEL MAGLIULO',
 'TUCK LUM',
 'MICHAEL JULA',
 'MAURICIO MONSALVE',
 'MARY IVAS',
 'MELINEA MELSON',
 'OLIVIA MORENO',
 'ALBERT SANTOYO',
 'RAYMOND CHENG',
 'BRIAN SAIGER',
 'ALLISON CUMMINGS',
 'EMILIE CHONG',
 'DAVID CHARNEY',
 'JOHN BITNER',
 'CHANG HU',
 'TIRA ROGERS',
 'SCOTT COX',
 'RAYMOND YOUNG',
 'GILBERT FRAGOSO',
 'LENA BUTLER',
 'RICARDO MONTERO',
 'DORA GRANERA',
 'THOMAS HOLTON',
 'IGOR LEVIT',
 'ARISTIDES SALINAS',
 'DORIS TSENG',
 'LOTTIE BAKER',
 'RENEE BEAUPRE',
 'ISAIAH NJISSANG',
 'ESTHER LANE',
 'BRENDAN LOFTUS',
 'BENJAMIN VOLBERDING',
 'MELINDA NORRELL',
 'TYRENE LABUTAN',
 'BENJAMIN TSUI',
 'VIVIAN SOLEMNIDAD',
 'JERRY NG',
 'MARIA ARINEZ',
 'LINDA ONG',
 'JOSE NUGUID',
 'ELIZABETH MARANAN',
 'SHERRY WANG',
 'WILLIS GUO',
 'SHERWIN SMITH',
 'JEAN BALIBRERA',
 'RONALD FOWLER',
 'HECTOR SINGH',
 'LURIA POWERS',
 'SANDRA AVELLA',
 'DEBRA JOAN HINES',
 'WILLIAM TARRAN',
 'EVANGELINE BLANCO',
 'SUZANNE CHOI',
 'ANN ISELY',
 'NORBERT RALPH',
 'FAYE DEGUZMAN',
 'DWAYNE JOHNSON',
 'JACQUELINE HUNTER',
 'TERESITA ARAO',
 'MARITZA SANCHEZ',
 'JOHNNY TRIEU',
 'MATTHEW LASKY',
 'SHIOU JYUAN CHEN',
 'JESSICA MARRUFO-FIERRO',
 'JOSEPH SIMS',
 'JESSIE MILLS',
 'GLENN PHILLIPS III',
 'JEREMY ENG',
 'JOHNNIE MILLER',
 'JACK GISLER',
 'RICHARD ORTIZ-JR',
 'KEN WU',
 'MONICA MITCHELL',
 'KIMBERLY GANADE-TORRES',
 'TINA HUI CEN',
 'NICOLE HUMPHREY',
 'MICHAEL YEUNG',
 'TONY YAN',
 'STEWART ARMSTRONG',
 'NICHOLAS ALFORD',
 'EDWARD BARELA-III',
 'BIN YANG',
 'CARLOS-ANTON COLON',
 'RACHELLE HA',
 'ALBERT CAYABYAB',
 'HUY TRAN',
 'STELLA YEUNG',
 'JACQUELINE SABO',
 'JAMES CHASE',
 'JASON ELEN',
 'VICTORIA GULDBECH',
 'SARAH CROW',
 'LISA VUONG',
 'VICTOR GRAYSON',
 'KEVIN WOOLEN',
 'CIRILO AGUILAR',
 'DAVID ROBERTS',
 'MODESTO ALFONSO',
 'NICOLE WARD',
 'ANDREW STONE',
 'RODOLFO CLAVEL',
 'MANUEL YAP III',
 'ERIC XU',
 'ABDIWAHAB HASHI',
 'FRANCISCO MEJIA',
 'PLESHETTE PITRE',
 'KENNETH STEIN',
 'SONYA CIRINO',
 'DESTIN REY TIANERO',
 'PHILLUP TAYLOR',
 'RONNIE MEDINA',
 'MICHAEL SHORT',
 'ORLANDO DELFIN',
 'ARMAND MANLUTAC',
 'DESREE THOMPSON',
 'IRA ROOKS',
 'DARICE MURRAY-MCKAY',
 'JUAN GARCIA',
 'AGNES CASAYURAN',
 'MARGARET COLFER',
 'MIGUEL CERDA',
 'DENNIS LIM',
 'ABELARDO LEONARDO',
 'LUCRECIA GUEVARA',
 'SHIU-GOOK LIANG',
 'YUKSWA LAU',
 'JOSE CUEJILO',
 'LISA MAK',
 'MAY SHAO',
 'HENRY KWAN',
 'GLORIA CHU',
 'NORA LEE',
 'FERDINAND GAWAT',
 'CYNTHIA GRADY',
 'LIONG CY',
 'TRACY CHEONG',
 'LUIS FERDINA SALVADOR',
 'IRENE YU',
 'DAVID LEUNG',
 'DANNY MINIANO',
 'VAN HA',
 'WAI YIN CHEUNG',
 'BOON CHYE LIM',
 'MATT KYAW',
 'JOHN HUI',
 'MARION MEYER',
 'RONALD LWEE',
 'CHIMMY LEE',
 'GENEROSO DIZON',
 'SCOTT TYLER',
 'PAULINO LIMPIN',
 'TIMOTHY MCDONOUGH',
 'PATRICK SHEA',
 'IRINA APTEKAR',
 'STEPHAN ENOCH',
 'MICHELLE SALAS',
 'CARMEN ALUY',
 'ALEXANDER RANDOLPH',
 'RONALD TOLENTINO',
 'JIM MYINT',
 'JUAN ORTIZ',
 'JAIME ESPINOZA',
 'VALERIE BARALL',
 'CARMELA VILLASICA',
 'BRENDA SGAMBA',
 'JEFFREY SMITH',
 'BILL WU',
 'EVA WEXLER',
 'JACQUELINE PHILLIPS',
 'RUDY ZAMORA JR',
 'JANDER LACERDA',
 'LUTRELL HUDDLESTON',
 'NANCY PALOMO',
 'IGNACIO ANTONI0 JR',
 'BRENDA DONALD',
 'SUI YU',
 'THOMAS GALLOT',
 'JOSEPH LIEBMAN',
 'ANNA LOUIE',
 'MASAKO KASAI',
 'MARCELA ESPINO HERNANDEZ',
 'VINH PHAN',
 'JOSEPHINE ANGELES',
 'RAFAEL YERA',
 'CESAR SANCHEZ',
 'RICARDO LOPEZ',
 'STEPHEN PLUME',
 'NARCISO PADERANGA',
 'MARGARET SHIFFLER',
 'JAMES MCCORMICK',
 'JEANNE FOULIS',
 'M. ALICIA TALAVERA',
 'DAVID LO',
 'GEORGE GONG',
 'MILTON K SO',
 'KARINA ZHANG',
 'DANIEL LI',
 'TRINA BELL',
 'AIDA HENRY',
 'TRACIE NORRIS',
 'MONA BARRON',
 'MARK LAMOUREAUX',
 'MARTHA DOMINGUEZ GLUMAZ',
 'RODOLFO RODRIGUEZ',
 'DAN HUYNH',
 'LEA KRANCI',
 'SYLVIA PASCAL',
 'ANZHONG YANG',
 'ALEKSANDR ANDREYENKO',
 'HELEN STORRS',
 'DIANE DAVIS-GASKINS',
 'ROMAN KOROLEV',
 'GREGORY IVORY',
 'CHUN LAW',
 'THOMAS TAYLOR',
 'PETER LEE',
 'NANCY SILVERROD',
 'SHELLY HOUK',
 'BETSY LEVINE',
 'ELEANA ARIZAGA',
 'TIMOTHY TROY',
 'ELIZABETH CHOY',
 'MINH VU',
 'RAUL RODRIGUEZ',
 'PATRICK ODONOGHUE',
 'LINDA JOHNSTON',
 'COLLEEN MCCOY-HARLEY',
 'CHRISTINE ARRIGALE',
 'DENNIS DIZON',
 'JUANA GONZALEZ',
 'LUISA INCA',
 'LYNN DAO',
 'CHARLES WILLIAMS',
 'ROBIN HANSEN',
 'MELA ARMSTRONG',
 'CURTIS SMITH',
 'PETER FITZPATRICK',
 'ROBERT CRABILL',
 'BASIL CANION',
 'ELENITA ALBERTO',
 'THERESA LUDWIG',
 'ALAN ROSENLICHT',
 'AZIM SHAIKH',
 'FRANCES BREEDING',
 'TUTI SUARDANA',
 'TSUN CHAN',
 'JOHNNIE YOUNG',
 'ZHI JIE ZHAO',
 'CARL COLLINS',
 'MICHAEL JANG',
 'DOVE YU',
 'LETICIA CABATO',
 'LYDIA SAWACHI',
 'HAI NGO',
 'JESSALYNN WONG',
 'CYNTHIA BURA',
 'DELILAH DOMINGUEZ',
 'MARGARET SIEGEL',
 'ADELINE HWANG',
 'PATRICIA JACOBSEN',
 'YOLANDA ROBINSON',
 'NENA ULEP',
 'MARTHA ESPANA',
 'MAY TO-TANG',
 'ROSHEDY RAPIDES',
 'ROBERT GILLESPIE',
 'BEVERLY HAYES',
 'JOHN MATTIAS',
 'ARLYN SERNA',
 'FELIPE OCHOA',
 'CRAIG COHEN',
 'JOEL HUGHES',
 'IMELDA BRILLANTES',
 'MICHAEL BYNUM',
 'STUART GURTMAN',
 'MARIA ALEMAN',
 'ANA MOMBENI',
 'CORNELIA HUANG',
 'LAVINIA MEADOWS',
 'ANNE-CHRISTI ADAMSON',
 'LOURDES BONIFACIO',
 'MARGAUX KELLY',
 'WARREN SANDERS',
 'RONALD REYES',
 'JAMES BARNES',
 'JONATHAN CHAN',
 'TERENCE HUEY',
 'ANDREW REYNOLDS',
 'ANGELA LUNDE',
 'MEI HUNG',
 'LAUREL BARSOTTI',
 'RENEE WEBB',
 'VICTOR GUERRERO',
 'LIH-MEEI LEU',
 'JASMIN SPRINGER',
 'JONATHAN YEE',
 'ESTACIA WELLS',
 'JEFF HODGINS',
 'GRACE MATTIOLI',
 'TIMOTHY WILSON',
 'ANDREA GRIMES',
 'JOSEFINA JUAREZ',
 'MARISA ROSKELLEY',
 'SALLY BUCHMANN',
 'POURAN LIND',
 'ANITA CHEN',
 'RICKY CHAN',
 'IRINA SERGIAN',
 'SHAHRAM SABAGHPOUR',
 'BERTHA CAVIT',
 'TOM BENCICH',
 'MARVIN CHIN',
 'IVAN NGOON',
 'MARIO HENRIQUEZ',
 'JANICE TORBET',
 'LINDA FONG-ELBAGGARI',
 'MARY ANN LANGVARDT',
 'JULIETA LAI',
 'LUIS MENDIVIL NEVAREZ',
 'WALTER ANG',
 'LOVERNE MENDOZA',
 'CARL STEVENSON',
 'YIXIN LI',
 'JOHN NELSON',
 'MICHAEL LEWELLING',
 'PHYLLIS HUMPHREY',
 'DEBORAH BARONE',
 'BENJAMIN INES',
 'ALEXANDER SMITH',
 'RICHARD NG',
 'PATRICIA TELL',
 'JENNIFER RAKOWSKI',
 'CYNTHIA MARTINEZ',
 'GRETCHEN GOOD',
 'MARILYN CURRY',
 'JONATHAN TSO',
 'BERNICE CASEY',
 'MICHAEL WEBSTER',
 'ERIC ZUERCHER',
 'DAVE PALLERA',
 'MARCO CHAVARIN',
 'RITA SHIAU',
 'WILLIAM WOOD',
 'TAMI SUZUKI',
 'MYLENE ESPIRITU',
 'DENNIS RAAB',
 'JOHN NGO',
 'TANGANYIKA GORDON',
 'GEORGE ORO JR',
 'DAVID GHISELIN',
 'CYNTHIA MARSHALL',
 'NOE VILLARREAL',
 'STEVEN HAVER',
 'LORNA DUTT',
 'JOHN THRAILKILL',
 'SUE BROWN',
 'KIET NGUYEN',
 'JACQUELINE GUTIERREZ',
 'CHIA-LING TSAI',
 'ALICIA JOHN BAPTISTE',
 'LORENZO IRIARTE',
 'SYLVIA COTTO',
 'FLOYD JACKSON JR',
 'CURTIS BURNS',
 'JIMMY NG',
 'MARCUS ALEXANDER',
 'DOHRMAN WONG',
 'ALICIA FRIAS',
 'BARRY RODRIGUEZ',
 'RONALD JARRELL',
 'JEREMIAH BRYANT',
 'ALICIA NARAYAN',
 'EVELYN MCWAY',
 'JENNING GEE',
 'CELLA MITCHELL',
 'ERNIE PRIETO',
 'DAVID THOMPSON',
 'OLIVER OKORO',
 'LAURIE KUM',
 'ROBERT HO',
 'BARBARA REINOSA',
 'LISA REYES',
 'ZHUOXIN WEN',
 'LAVONNE KYLE',
 'ALEX LOPEZ',
 'CHRISTOPHER DAMONTE',
 'EMILY CHANG',
 'CARL WEAVER',
 'VIVIAN SHOWERS',
 'ARMANTINA HENRIQUEZ',
 'SUSAN CHIU',
 'CATHERINE PEARSON',
 'CATHY MCCARTHY',
 'KAREN CHIN',
 'JOYCELYN PEREZ',
 'CHRISTINE DEL-FAVA',
 'STEWART SHAW',
 'MARLA BERGMAN',
 'PRISCILLA LENH',
 'GORDON SHYY',
 'THOMAS CAREY',
 'ROMEO TAGLE',
 'JOEL AVILES',
 'RENE ABELEDA',
 'AARON STEVENSON',
 'COLLEEN GARRETT',
 'MULLANE AHERN',
 'PHILLIP MAU',
 'DOUGLAS LIANG',
 'EILEEN GALARZA',
 'AUDREY ARMOUR',
 'ESTELA MORAN',
 'SALLY WONG',
 'DEBBIE CROWLEY',
 'MONICA HEINZ',
 'EUGENE STEPTOE',
 'GABRIEL ELGRABLY',
 'JESSE GUTHRIE',
 'JO ANN BRYCE',
 'KELLY BOOKER',
 'ALAN WHITNEY',
 'JOSE GUTIERREZ-PADILLA',
 'AMY PERRY',
 'DAT QUACH',
 'NORMA DEL RIO',
 'TERRENCE GEE',
 'BRUCE FUNG',
 'ABDOL CHALAK',
 'DANIEL WELCH',
 'HELEN LAU',
 'HONG WU',
 'PAMELA OW',
 'ARTHUR AZUCENA',
 'VERNETTA PERRY',
 'JENNIFER CHIU',
 'KULWANT KAUR',
 'NESTOR GATCHALIAN',
 'BIENVENIDO OCENADA',
 'ANNE LANE',
 'NAPOLEON CONTE JR',
 'DOUGLAS SMITH',
 'WILLIE BROWN',
 'LISA VESTAL',
 'MARTIN ESPINOSA',
 'RUBEN NOVERO',
 'MARVA WINTZ',
 'SAN LIN',
 'CLAUDIA LUQUIN',
 'RICHARD AUELUA',
 'AMARITA KING',
 'DAVID TRAN',
 'ATAKLTI BETRE',
 'WON SUK OH',
 'TERESA OBRIEN',
 'JESUS FIGUEROA',
 'BILL TOM',
 'OSCAR PORRAS',
 'GLYNN BARNES',
 'ARLENE ESCUETA',
 'GILBERTO ALARCON',
 'ANGELES HUANG',
 'XIANG AMY LI',
 'LUZVIMINDA GALIMBA',
 'BARBARA MCMAHAN',
 'HAZAM BEYENE',
 'MONNIE EFROSS',
 'ANDRE MAYO',
 'GERALD SANTIAGO',
 'KELLY TOTH',
 'HADAS DESTA',
 'LUCIA RELOS',
 'CARL MITCHELL',
 'CHRISTIANA OGBONNA',
 'EDGARDO PAGADUAN',
 'LARRY JENNING',
 'TOMMY STRICKLAND',
 'DANICA MARTINEZ',
 'JOSEPH HOESCHEN',
 'FREDRICK GITTHENS',
 'YING LU',
 'ANGELA JONES',
 'ADELINA MEJIA',
 'LAWRENCE LAU',
 'NIEN VIEN',
 'DAVID BANKS',
 'ANDREW RODRIGUEZ',
 'JOSEPH TANIZAWA',
 'AUDREY NAUER-ALLEN',
 'IVAN MORALES',
 'JOSEPH BELL',
 'SHIRLEY CHRISTOPHER',
 'GLORIA MARTINEZ',
 'JENNIFER HICKMAN',
 'ALBERT HSIUNG',
 'AUGUSTA DUNCAN',
 'MICHELLE BERRY',
 'MARI SOLIS',
 'LINDA LETO',
 'KATHRYN EBERLY',
 'SANDRA URBINA',
 'M ASHRAF MANN',
 'ANGELITA MCCALL',
 'AVELINO LEE',
 'DOMINGO BOBILA JR',
 'LIGAYA ESPOSO',
 'MICHAEL SCHELL',
 'AURORA BOADO',
 'VIVIAN HYUN',
 'EARTHA JORDAN',
 'JOAN ALMEIDA',
 'MOHAMED BHAM',
 'GREGORY SOLOMONOW',
 'FIDELA BULACLAC',
 'DU MACK',
 'ANNIE CHAN',
 'AMIE ZAPANTA',
 'MARY ANN CERASOLI',
 'JOSEFINA GUMBA',
 'RAYMOND BOUCHER',
 'SUNNY FU',
 'BETHSAIDA NOVERO',
 'YELENA BILYAK',
 'LATARSHA GREEN',
 'DONIKI DUDLEY',
 'TODD POWER',
 'ALBERTO PEREZ',
 'MARJORIE LAMUG',
 'JUNE SCHLOTFELDT-CATO',
 'XANTHY MICHEALSEN',
 'YORSY LARRABURO NARANJO',
 'ROY KNUCKLES',
 'CAROL MELVIN',
 'BILL WONG',
 'RICHARD SCHMIDT',
 'MIKHAIL PASHKOV',
 'DANIEL BORGFELDT',
 'SONNY LEE',
 'MICHAEL PORTER',
 'DENISE THURMAN',
 'DANETTE CRUZ',
 'VICENTE CENTENO',
 'DOMINIC PISCIOTTO',
 'MARY MAGEE',
 'SULLIVAN PHILLIPS',
 'JUAN RUIZ DEALDA',
 'ALAN STRIEGLE',
 'DANIEL SPILLANE',
 'ANTENOR ARENAS JR',
 'WILLIAM YAN',
 'VICTOR MEDRANO',
 'JOSEPH AVILA',
 'JUSTIN MORGAN',
 'DEXTER CHONG',
 'CATHERINE CURTIS',
 'PADMANABA PILLAI',
 'CLAIR WILDMAN',
 'JONATHAN LIN',
 'WENDY KRAMER',
 'INES ASCENCIO',
 'DARLENE ARMANINO',
 'STAYCEE GORDON',
 'JORGE AVENDANO',
 'GERALD CRUZ',
 'LENORE CRAWFORD',
 'LORINA RUEDA',
 'BRIAN DANIELS',
 'DENISE SCHMIDT',
 'VINCENT MCENERNEY',
 'KIM BAGGETT',
 'CHAN DUONG',
 'JOHN KUN',
 'PEDRO MELENDEZ',
 'SHIH WEI LU',
 'KEISHA FAIRLEY',
 'MARY MA',
 'DOVIA SCHEXNAYDER',
 'PATTY TSANG',
 'IVY HANKINS',
 'DARREL HO',
 'JOCELYN POU',
 'RAYMONE GARNER',
 'WINILYN HIDALGO',
 'STEPHANA MCCLARAN',
 'DIANA FUNG',
 'CHRISTINA MORETTA',
 'RACHEL GOSIENGFIAO',
 'JENNIFER NOVAK',
 'DEBORAH BROWN',
 'JANIE HILLYER',
 'JOHN VIDAL',
 'BRIAN SICKLES',
 'SEAN STAGLIANO',
 'DOMINIC GULLEY',
 'CLAIRE AYUBAN',
 'ANTHONY LEE',
 'SHERRILL QUARTINI-HUDDLEST',
 'SAU CHAN',
 'JAMES JESKE',
 'STEVEN ELDER',
 'GLEN JAMES JR',
 'SELVIN CABRERA',
 'LISSETTE SOUZA',
 'SARAH DE LA CERDA',
 'DAVID LUONG',
 'PAULINA ARMSTRONG',
 'ISHEAL MARTIN JR',
 'TRUONG TRAN',
 'DEBORAH LIM',
 'JERILYN DOWNING',
 'LAWRENCE PECK',
 'MIGUEL DUARTE',
 'SOPHIA BILLOTE',
 'ROSE HUANG',
 'MABEL CHOW',
 'GLEN MINIOZA',
 'JOSHUA ARNOLD',
 'ALEJANDRO VALDEZ',
 'ANDREE MOUTON',
 'JERMAINE JOSEPH',
 'JAMES TRAINA',
 'CREZIA TANO',
 'ARLENE HALL',
 'NANCY LIM',
 'EMILY KRETZ',
 'SYLVIA THAI',
 'PETER AVILES',
 'MARK FENN',
 'SOGRA KADIR',
 'HERBERT HERNANDEZ',
 'LILA SETO',
 'ANNALIE FLORES',
 'ANGELA TEODOSIO',
 'REGINA WELLS ROSS',
 'TUE PHAN',
 'ZACKARY TAYLOR',
 'EDWARD LI',
 'CINDY TOM',
 'PETER GORBACHEV',
 'LIAM CURRY',
 'ROMULO ADIAO',
 'TERESA VALDIVIA',
 'REBECCA WINTERER',
 'SHIRLEE WHITE',
 'KATHLEEN SMOOKLER',
 'MILLIE ARANDA',
 'JOANNE CARR',
 'MYRNA MATA',
 'SOPHIA SIMPLICIANO',
 'MICHAELA GREELEY',
 'LUZVIMINDA TAN',
 'MYRNA EVANGELISTA',
 'ROSIE SCOTT',
 "STEPHANIE O'GUINN",
 'HELEN LAU',
 'ANNIE KNIGHT',
 'EUGENIA TAULEALO',
 'CAROLYN JAYIN',
 'JAIME TIJERINO',
 'IRENE CHENG-TAM',
 'REBECCA ONA',
 'ARLENE RUBINO',
 'SHARON PAGE RITCHIE',
 'SERAFINA COLLINS',
 'ROSLYNN GRIMAL',
 'ALMERITA CASTILLO',
 'VIRGINIA FRANKLIN',
 'TERESA ROIZ',
 'DEBORAH TOY',
 'CHRISTINA HO',
 'RUBY HENDERSON',
 'LUCILLE SANCHEZ',
 'JOHN BALESTRIERI',
 'BETHANY CAGEN',
 'MARC LIPSCHUTZ',
 'VIRGINIA AH NIN',
 'ANDREW MOLINA',
 'RICHARD KURYLO',
 'VOLTAIRE BARSANA',
 'MINGDE FENG',
 'VICTORIA MYCUE',
 'LEO MAGUIRE',
 'CHARLES EVANS',
 'PETER WHITCOMB-JR',
 'RACHEL CUKIERMAN',
 'ANNIE GEE',
 'HO MAN',
 'RICHARD LOW',
 'CHARLOTTE KUO',
 'MARI ANDERSON',
 'JOHN SCHEMBARI',
 'PHELICIA JONES',
 'JERRY CALLOWAY',
 'BARBARA MOSS',
 'CLIFTON RAYNOR',
 'GEORGE BROWN JR',
 'ANWAR BAIG',
 'ELSIE RAPISURA',
 'JOSEPH RAND',
 'RENATO BAURE',
 'SUE KYAUN',
 'FIROOZEH PARSA NEZHAD',
 'GRACIA MONTERROSA',
 'JIMMY WONG',
 'FLORENCIO DEVERA',
 'MICHAEL FOX',
 'CONNIE KWAN',
 'NIGEL WOODS',
 'SHAUNA OLEARY',
 'DIANA QUAN',
 'JEANNE SCHOENSTEIN',
 'ENRIQUE VERA',
 'MARGARET TSE',
 'ELEONOR COLLEMACINE',
 'MARTIN MUNOZ',
 'REBEKAH BUZOLICH',
 'JESSICA HUEY',
 'DIANE HANDA',
 'GABRIEL CASTILLO',
 'DARYL NG',
 'FRANK MARINO',
 'LESLIE EREKSON',
 'ROSA CHAN',
 'LAWRENCE MAH',
 'MIRYO KIM',
 'IVANIA NAVARRETE',
 'ALLAN PETALVER',
 'JULIANN ROBINSON',
 'JOSEPH SUE',
 'OSCAR BAEZA',
 'ARCELIA MICHEL',
 'SUSAN GIAMMATTEI',
 'ZHAOTING CAI',
 'EUGENIA TOM',
 'PERCIVAL GARCIA',
 'RANDY CHOW',
 'ANTOINETTE ALLEN',
 'BONNIE BERNARD',
 'JILL SCHROEDER',
 'ANDREW GARTH',
 'VALERIE REICHERT',
 'RICARDO ARANDA',
 'CHRISTINA LOWE',
 'JONATHAN-DAT LAM',
 'VICTORIANO CANOVAS',
 'ALETA WASHINGTON',
 'CONSTANTINO CAMPOS',
 'CARL LOVE',
 'DIANE TELLEZ',
 'JOHN SAMPIOR',
 'APRIL WAN',
 'PEACHY MATIAS',
 'MAURILIO LEON',
 'HENRY TANG',
 'DAVID BURKE',
 'MIGUEL HERNANDEZ',
 'JOSEPH GARCIA',
 'JEREMIAH MCGOVERN',
 'BURT HAMROL',
 'PHILLIP JOE',
 'RICHARD DUNN',
 'LUIS ADONA',
 'LARRY NEBRON',
 'EDWARDS LEW',
 'LILIAN VALERIO',
 'PRISCILA MORETO',
 'ANNA JUNG',
 'ALLEN ZHANG',
 'RONNIE CARANDANG',
 'JANET DACANAY',
 'ALLA RIVAS',
 'EDGAR SALCEDO',
 'PETER TURDICI',
 'CHRISTINE NG',
 'VICTORIA VASILEVITSKY',
 'JAMES LOK YUNG',
 'HERMINIA SANGALANG',
 'TUY-VIET TRAN',
 'INNA GRINBERG',
 'CARLOS BERRIOS',
 'OHN MYINT',
 'HELEN JUNG',
 'HARRIET LEM',
 'LEUL DEMOZ',
 'PETER YU',
 'PETER PARDINI',
 'ANICETO MANONGDO',
 'DIANA JOHNSON',
 'ELISE LUSK',
 'HIJASMIN BLANCO',
 'ANGELA WILSON',
 'VINCENT MABUTAS',
 'MARIA MOLLOY',
 'CHARLES CALDWELL',
 'NAZARIO GUINTO',
 'LISA KIENDRA',
 'RODERICK SKINNER',
 'REYNAN MANALAC',
 'MICHELLE DEL ROSARIO YOUNG',
 'CANDIE MATTSON',
 'SHARON LAI',
 'WILLIAM HUGGINS',
 'STUART ON',
 'MATTHEW SAXTON',
 'ALEXIS WILLIAMS',
 'MICHAEL CHAU',
 'MARLEN SANCHEZ',
 'ROXANA MORALES',
 'JEFFREY BLACK',
 'ANNA JEW',
 'LYNN LEVEY',
 'TAMMY SANDERS',
 'VANESSA BROWN',
 'MARTHA RIVAS',
 'KIMBERLY CHANG',
 'YONG JIAN XU',
 'BRIDGET BOYLAN',
 'MARIE BULATAO',
 'DAVID FROEHLICH',
 'JULIE ROE',
 'KAREN PASSANISI',
 'AZHAR KHALIQ',
 'FRANKIE SZETO',
 'DENNIS SHARP',
 'SELETA REYNOLDS',
 'ANTHONY LUJAN',
 'EARLON ISRAEL',
 'LARRY TOJI',
 'ADORACION VINZON-SALCEDO',
 'DERRICK VENEZIANO',
 'SIMON SUEN',
 'ELIZABETH COOPER',
 'KATHERINE DAVIS',
 'SUET YING TSE',
 'TRACY DICKSON',
 'WILLIAM CAPONERA',
 'STEVEN KERNS',
 'STEVEN BALL',
 'CASSANDRA GRIFFIN',
 'MAURICE OCHOA',
 'ROBERT MALLOY',
 'CANDACE FAN',
 'MARY GRACE ROSALES',
 'JOHN TERRA',
 'MELINA MARKARIAN',
 'GINGER WOODS',
 'VERONICA DAVILA',
 'DONG NGUYEN',
 'CHRISTOPHER CHAN',
 'JEAN SWEENEY',
 'JOHN MONTES',
 'JON DEASY',
 'JAMES BRASSIL',
 'CYNTHIA CARTER',
 'JAY MITCHELL-WRIGHT',
 'RASHID ANASSE',
 'MELCHIOR BAUER',
 'JAMES KRACKOW',
 'SWEETIE MOALA',
 'HANS BAYER',
 'EDWARD BASLER',
 'WILLIAM MILES II',
 'PILAR MERO',
 'JAMES FONG',
 'TRACY MACK-MONTOYA',
 'YOON JUNG KIM',
 'ALVIRA WARD',
 'PETER YEN',
 'HENRY PENAS',
 'GERARDO JUAN',
 'QUANG LY',
 'DAVIDA KAPLER',
 'BARON WINGARD',
 'MANUELITA ECHEVERRIA',
 'DANTE THOMAS',
 'ERIC BISHOP',
 'CAROLINA MAZARIEGOS',
 'FRED ROBINO',
 'BRIGITTE KING',
 'RENEE NICHOLSON',
 'EDDIE VALADEZ',
 'KAREN TAYLOR',
 'CAROLYN MCGOVERN',
 'STEVEN CHIN',
 'BEULAH VEALS',
 'RONALD ORETA',
 'JERAME JAMES BARRION',
 'TUAN BANH',
 'CONNIE LAU',
 'HELEN PINEDA',
 'CLARA M Y LAI',
 'EDWARD LAU',
 'LAUREN SETO',
 'CARL KYLE',
 'ERIC HILL',
 'ANN SANTOS',
 'MICHELLE MALICK',
 'SUSAN FAHEY',
 'DEBORAH CAMPBELL',
 'HAROON AHMAD',
 'CINDY NGAI',
 'LEX AMADO HUAB',
 'DONNY PUSAWONG',
 'DANIEL CALLUM',
 'NICOLE DAVIS',
 'CHRISTINE FOUNTAIN',
 'LYNNETTE RICHIE',
 'BENJAMIN CHANG',
 'DAVID CHIN',
 'SATURNINO CANO',
 'STANLEY CHEUNG',
 'JAMES DEMERIN',
 'MARK REED',
 'CARMELITA DOMINGO',
 'THOMAS RO',
 'JOHN CLARK',
 'ALAN YUAN',
 'DEBRA DROOH',
 'LILIAN LI',
 'FERNANDO RECODER',
 'IRVING MOK',
 'JAMES BALDOCCHI',
 'CAROLYN ADAMS',
 'MASON FONG',
 'AGNES TRINIDAD',
 'TIFFANY LUU',
 'LLOYD LANTIN',
 'NARCISO MAGLANOC',
 'MICHAEL FONG',
 'STEFFANIE MALLA',
 'NATALIE FUCHS',
 'DWENNETTE FLASH',
 'IVY WONG',
 'JOHNNY NTAGBU',
 'SHAHIN SHAIKH',
 'AYODELE MITCHELL',
 'JOHN MILLER',
 'JOE LEUNG',
 'MA  GRACE MARTINIANO',
 'MYRA GANS',
 'MONICA WU',
 'SOMAY LOI',
 'ALFRED LEE',
 'LAURA MARSHALL',
 'HECTOR MERO',
 'DARYL PITTS',
 'SONJA VON COLL',
 'ROBERT CASTELLANO',
 'MAGDALENE LEE',
 'BETH BERLAND',
 'EDWARD LABAN',
 'EDWARD BARRIENTOS JR',
 'AARON DURAN',
 'YVETTE ROBLES',
 'ROMARR PITCHER',
 'JOACHIM MORRIS',
 'HERNANDO BETANCUR',
 'JONNATHAN RUIZ',
 'ROBERT MUNIZ JR',
 'DOMINIC VILLANUEVA',
 'RACHEL POMERANTZ',
 'ADORACION OZARAGA',
 'LESLIE WALKER',
 'KELLIN DEFIEL',
 'IYABODE WILLIAMS',
 'RICARDO ARGUELLO',
 'LINDA ROBERTSHAW',
 ...]

Desired Output:

![image.png](https://i.ibb.co/mtNB2TX/assignment1g.png)

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid"
alt="CLRSWY"></p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:100%; text-align:center; border-radius:10px 10px;">WAY TO REINVENT YOURSELF</p>

________