<a href="https://clarusway.com/"><img align="center" src="https://i.ibb.co/Rpz9L36/clarusway-logo-black.png" width="450" height="200" alt="CLRSWY_LOGO" title="Open and Execute in Google Colaboratory"></a><br/>

<p style="background-color:#E51A59; font-family:newtimeroman; color:#FDFEFE; font-size:130%; text-align:center; border-radius:10px 10px;">WAY TO REINVENT YOURSELF</p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:200%; text-align:center; border-radius:10px 10px;">DA & DVwPY</p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:200%; text-align:center; border-radius:10px 10px;">The Exploratory Data Analysis (EDA) Project</p>

<img src=https://i.ibb.co/wJW61Y2/Used-cars.jpg width="700" height="200">

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:200%; text-align:center; border-radius:10px 10px;">AutoScout Car Price Prediction EDA</p>

## Introduction
Welcome to "***AutoScout Exploratory Data Analysis (EDA) Project***". This is the project of completing ***Data Analysis & Data Visualization*** Courses and a successful hand-over is mandatory for getting certification for both courses. **Auto Scout** data used in this project scraped from the Website of an online car trading company in 2022, and contains many features of 13 different car makes including 594 models. In this project, you will have the opportunity to apply many commonly used algorithms for Data Cleaning and Exploratory Data Analysis by using a variety of Python libraries, such as Numpy, Pandas, Matplotlib, Seaborn, Scipy, and then you will get a clean dataset for your analysis and pretictive modelling in Machine Learning Path. So you will have the chance to use all the skills you have already learned in the Data Analysis and Visualization courses.

**``In this context, the project consists of 3 parts in general:``**
* **The first part** is related to ``'Data Cleaning'``. It deals with Incorrect Headers, Incorrect Format, Anomalies, and Dropping useless columns.
* **The second part** is related to ``'Filling Data'``, in other words 'Imputation'. It deals with Missing Values. Categorical to numeric transformation, Encoding, is done as well.
* **The third part** is related to ``'Handling Outliers of Data'`` via Visualization libraries. So, some insights will be extracted.

**``SPECIAL NOTE:``**  However, you are ``free to create your own style``. You do ``NOT`` have to stick to the steps above. Nevertheless, we, the DA & DV instructors, recommend you study each part separately to create a source notebook for your further studies. 

In order to build your Portfolio in terms of the GitHub account, you need to push your solution file up to your own repository.

Please after solving the task, commit your notebook to GitHub and submit its link to LMS page where the project is settled down.

**BE NOTED:** Please ``DO NOT FORGET`` to click the submit button.

### Some Reminders on Exploratory data analysis (EDA)

Exploratory data analysis (EDA) is an especially important activity in the routine of a data analyst or scientist. It enables an in depth understanding of the dataset, define or discard hypotheses and create predictive models on a solid basis. It uses data manipulation techniques and several statistical tools to describe and understand the relationship between variables and how these can impact business. By means of EDA, we can obtain meaningful insights that can impact analysis under the following questions (If a checklist is good enough for pilots to use every flight, it’s good enough for data scientists to use with every dataset).
1. What question are you trying to solve (or prove wrong)?
2. What kind of data do you have?
3. What’s missing from the data?
4. Where are the outliers?
5. How can you add, change or remove features to get more out of your data?

**``Exploratory data analysis (EDA)``** is often an **iterative brainstorming process** where you pose a question, review the data, and develop further questions to investigate before beginning model development work. The image below shows how the brainstorming phase is connected with that of understanding the variables and how this in turn is connected again with the brainstorming phase.<br>

<img src=https://i.ibb.co/k0MC950/EDA-Process.png width="300" height="100">

[Image Credit: Andrew D.](https://towardsdatascience.com/exploratory-data-analysis-in-python-a-step-by-step-process-d0dfa6bf94ee)

# PART- 1 `( Data Cleaning )`

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

import warnings
warnings.filterwarnings("ignore")

pd.set_option('display.max_columns', None) # Set it to None to display all columns in the dataframe

In [2]:
downloads_path = os.path.expanduser("~/Downloads") 
json_file_path = os.path.join( "as24_cars.json")
df = pd.read_json(json_file_path)
df

,make_model,short_description,make,model,location,price,Body type,Type,Doors,Country version,Offer number,Warranty,Mileage,First registration,Gearbox,Fuel type,Colour,Paint,desc,seller,Seats,Power,Engine size,Gears,CO₂-emissions,Manufacturer colour,Drivetrain,Cylinders,Fuel consumption,\nComfort & Convenience\n,\nEntertainment & Media\n,\nSafety & Security\n,\nExtras\n,Empty weight,Model code,General inspection,Last service,Full service history,Non-smoker vehicle,Emission class,Emissions sticker,Upholstery colour,Upholstery,Production date,Previous owner,Other fuel types,Power consumption,Energy efficiency class,CO₂-efficiency,Fuel consumption (WLTP),CO₂-emissions (WLTP),Available from,Taxi or rental car,Availability,Last timing belt change,Electric Range (WLTP),Power consumption (WLTP),Battery Ownership
0,Mercedes-Benz A 160,CDi,\nMercedes-Benz\n,"[\n, A 160 ,\n]","P.I. EL PALMAR C/FORJA 6, 11500 PUERTO DE SAN...","€ 16,950.-","[\n, Compact, \n]","[\n, Used, \n]","[\n, 5, \n]","[\n, Spain, \n]","[\n, 7468157, \n]","[\n, 24 months, \n]","120,200 km",06/2016,[\nManual\n],Diesel,Black,Metallic,"[ , Precio al contado: 16950 euros, , , Vehí...",Dealer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Mercedes-Benz EQE 350,350+,\nMercedes-Benz\n,"[\n, EQE 350 ,\n]","APARTADO DE CORREOS 1032, 26140 LOGROÑO, ES","€ 80,900.-","[\n, Compact, \n]","[\n, Pre-registered, \n]","[\n, 4, \n]","[\n, Spain, \n]","[\n, 7054863, \n]","[\n, 24 months, \n]","5,000 km",06/2022,[\nAutomatic\n],Electric,NaN,NaN,"[ , Precio al contado: 88900 euros, , AUTO OJ...",Dealer,"[\n, 5, \n]",[\n215 kW (292 hp)\n],[\n1 cc\n],[\n9\n],0 g/km (comb.),Negro Obsidiana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Mercedes-Benz A 45 AMG,S 4Matic+ 8G-DCT,\nMercedes-Benz\n,"[\n, A 45 AMG ,\n]","PORT. TARRACO, MOLL DE LLEVANT, Nº 5, LOC. 6-8...","€ 69,900.-","[\n, Compact, \n]","[\n, Used, \n]","[\n, 5, \n]","[\n, Spain, \n]","[\n, 7410454, \n]","[\n, 12 months, \n]","18,900 km",07/2020,[\nAutomatic\n],Gasoline,Grey,NaN,"[Gris MANUFAKTUR mountaingrau magno, , Linea/...",Dealer,"[\n, 5, \n]",[\n310 kW (421 hp)\n],"[\n1,991 cc\n]",[\n8\n],NaN,Mountaingrau magno,"[\n, 4WD, \n]",[\n4\n],"[[8.4 l/100 km (comb.)], [10.9 l/100 km (city)...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Mercedes-Benz A 35 AMG,4Matic+ 7G-DCT,\nMercedes-Benz\n,"[\n, A 35 AMG ,\n]","Carrer de Provença, 31 Local, 8029 BARCELONA, ES","€ 46,990.-","[\n, Compact, \n]","[\n, Used, \n]","[\n, 5, \n]","[\n, Spain, \n]","[\n, 7464503, \n]","[\n, 12 months, \n]","18,995 km",01/2020,[\nAutomatic\n],Gasoline,Yellow,NaN,"[ , Precio al contado: 48990 euros, , , BONI...",Dealer,"[\n, 5, \n]",[\n225 kW (306 hp)\n],"[\n1,991 cc\n]",[\n7\n],NaN,Amarillo Sol,"[\n, 4WD, \n]",[\n4\n],"[[7.3 l/100 km (comb.)], [9.3 l/100 km (city)]...","[Air conditioning, Automatic climate control, ...",[USB],"[ABS, Central door lock, Driver-side airbag, E...",[Sport seats],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Mercedes-Benz A 45 AMG,200CDI BE Line 4M 7G-DCT,\nMercedes-Benz\n,"[\n, A 45 AMG ,\n]","CARRIL ARAGONES 4, 30007 CASILLAS, ES","€ 16,800.-","[\n, Compact, \n]","[\n, Used, \n]","[\n, 5, \n]","[\n, Spain, \n]","[\n, 7127931, \n]","[\n, 12 months, \n]","197,000 km",09/2015,[\nAutomatic\n],Diesel,White,Metallic,"[ , Precio al contado: 17400 euros, , Vehícul...",Dealer,"[\n, 5, \n]",[\n100 kW (136 hp)\n],"[\n2,143 cc\n]",[\n7\n],NaN,NaN,"[\n, 4WD, \n]",[\n4\n],"[[4.9 l/100 km (comb.)], [5.7 l/100 km (city)]...","[Air conditioning, Electrical side mirrors, Mu...","[Bluetooth, CD player, MP3, USB]","[ABS, Central door lock, Driver-side airbag, E...",NaN,"[\n1,545 kg\n]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29475,Volvo S40,2.4i Momentum/ Airco/ NAP/ APK/ Elek. Ramen,\nVolvo\n,"[\n, S40 ,\n]","Stobbeweg 6, 2461 EX TER AAR, NL","€ 5,499.-","[\n, Sedan, \n]","[\n, Used, \n]","[\n, 4, \n]",NaN,"[\n, 09-PF-XS, \n]",NaN,"145,000 km",06/2004,[\nAutomatic\n],Gasoline,Grey,NaN,[Een goed rijdende auto met APK + NAP + Elektr...,Dealer,"[\n, 5, \n]",[\n125 kW (170 hp)\n],"[\n2,435 cc\n]",[\n5\n],217 g/km (comb.),Grijs,"[\n, Front, \n]",[\n5\n],"[[9.1 l/100 km (comb.)], [13.2 l/100 km (city)...","[Air conditioning, Armrest, Automatic climate ...","[On-board computer, Radio]","[ABS, Central door lock, Central door lock wit...","[Alloy wheels (16""), Trailer hitch]","[\n1,357 kg\n]",NaN,08/2023,NaN,Yes,NaN,Euro 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29476,Volvo C30,1.6 D DRIVe Start/Stop R-design,\nVolvo\n,"[\n, C30 ,\n]","Sur rendez-vous, 5060 Sambreville, BE","€ 7,300.-","[\n, Sedan, \n]","[\n, Used, \n]","[\n, 3, \n]","[\n, Belgium, \n]",NaN,"[\n, 13 months, \n]","96,000 km",04/2011,[\nManual\n],Diesel (Particle filter),Grey,Metallic,[*** VOLVO C30 2011 TRES PROPRE EN PARFAIT ETA...,Dealer,"[\n, 4, \n]",[\n84 kW (114 hp)\n],"[\n1,560 cc\n]",[\n6\n],99 g/km (comb.),NaN,"[\n, Front, \n]",[\n4\n],"[[3.8 l/100 km (comb.)], [4.3 l/100 km (city)]...","[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, CD player, Hands-free equipment, M...","[ABS, Alarm system, Central door lock with rem...","[Alloy wheels, Automatically dimming interior ...","[\n1,356 kg\n]",NaN,NaN,NaN,Yes,NaN,Euro 5,NaN,Black,NaN,NaN,"[[96,000 km, 04/2011], 1]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29477,Volvo S90,T5 AUT(8) MOMENTUM BUSINESS SCHUIFDAK 360GR CA...,\nVolvo\n,"[\n, S90 ,\n]","Bergambachterstraat 5, 2871 JB SCHOONHOVEN, NL","€ 29,900.-","[\n, Sedan, \n]","[\n, Used, \n]","[\n, 4, \n]",NaN,"[\n, 2791, \n]","[\n, 12 months, \n]","94,343 km",11/2017,[\nAutomatic\n],Gasoline,Blue,Metallic,[Bekijk deze auto in unieke 360 graden present...,Dealer,"[\n, 5, \n]",[\n187 kW (254 hp)\n],"[\n1,969 cc\n]",[\n8\n],149 g/km (comb.),Denim Blue metallic (blauw met,NaN,[\n4\n],"[[6.5 l/100 km (comb.)], [8.6 l/100 km (city)]...","[Air conditioning, Armrest, Automatic climate ...","[Android Auto, Apple CarPlay, Bluetooth, Hands...","[Adaptive Cruise Control, Adaptive headlights,...","[Alloy wheels (18""), Automatically dimming int...","[\n1,617 kg\n]",NaN,New,NaN,Yes,NaN,Euro 6,NaN,Other,Full leather,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29478,Volvo S80,2.9 Executive G. NETTE AUTO! LEER! NAVI! CRUIS...,\nVolvo\n,"[\n, S80 ,\n]","Lage Ham 106, 5102 AE DONGEN, NL","€ 4,440.-","[\n, Sedan, \n]","[\n, Used, \n]","[\n, 4, \n]",NaN,"[\n, 43-JR-LR, \n]",NaN,"230,047 km",07/2002,[\nAutomatic\n],Super 95,Grey,NaN,"[YOUNGTIMER !, Bedrijfsinformatie, NEEM VOOR U...",Dealer,"[\n, 5, \n]",[\n147 kW (200 hp)\n],"[\n2,922 cc\n]",NaN,251 g/km (comb.),Grijs,"[\n, Front, \n]",[\n6\n],"[[10.4 l/100 km (comb.)], [15.3 l/100 km (city...","[Air conditioning, Armrest, Cruise control, El...",[On-board computer],"[ABS, Alarm system, Central door lock, Central...","[Alloy wheels, Automatically dimming interior ...","[\n1,573 kg\n]",NaN,05/2023,NaN,NaN,NaN,Euro 3,NaN,Beige,Full leather,NaN,"[[230,047 km, 07/2002], 5]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29479,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.head(1).T

                                                                           0
make_model                                               Mercedes-Benz A 160
short_description                                                        CDi
make                                                       \nMercedes-Benz\n
model                                                        [\n, A 160 ,\n]
location                   P.I. EL PALMAR C/FORJA 6,  11500 PUERTO DE SAN...
price                                                             € 16,950.-
Body type                                                  [\n, Compact, \n]
Type                                                          [\n, Used, \n]
Doors                                                            [\n, 5, \n]
Country version                                              [\n, Spain, \n]
Offer number                                               [\n, 7468157, \n]
Warranty                                                 [\n, 24 months, \n]
Mileage                                                           120,200 km
First registration                                                   06/2016
Gearbox                                                         [\nManual\n]
Fuel type                                                             Diesel
Colour                                                                 Black
Paint                                                               Metallic
desc                       [ , Precio al contado: 16950 euros,  ,  , Vehí...
seller                                                                Dealer
Seats                                                                    NaN
Power                                                                    NaN
Engine size                                                              NaN
Gears                                                                    NaN
CO₂-emissions                                                            NaN
Manufacturer colour                                                      NaN
Drivetrain                                                               NaN
Cylinders                                                                NaN
Fuel consumption                                                         NaN
\nComfort & Convenience\n                                                NaN
\nEntertainment & Media\n                                                NaN
\nSafety & Security\n                                                    NaN
\nExtras\n                                                               NaN
Empty weight                                                             NaN
Model code                                                               NaN
General inspection                                                       NaN
Last service                                                             NaN
Full service history                                                     NaN
Non-smoker vehicle                                                       NaN
Emission class                                                           NaN
Emissions sticker                                                        NaN
Upholstery colour                                                        NaN
Upholstery                                                               NaN
Production date                                                          NaN
Previous owner                                                           NaN
Other fuel types                                                         NaN
Power consumption                                                        NaN
Energy efficiency class                                                  NaN
CO₂-efficiency                                                           NaN
Fuel consumption (WLTP)                                                  NaN
CO₂-emissions (WLTP)                                                     NaN
Available from                                                           NaN
Taxi or rental car                                                       NaN
Availability                                                             NaN
Last timing belt change                                                  NaN
Electric Range (WLTP)                                                    NaN
Power consumption (WLTP)                                                 NaN
Battery Ownership                                                        NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29480 entries, 0 to 29479
Data columns (total 58 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   make_model                28630 non-null  object
 1   short_description         28630 non-null  object
 2   make                      28630 non-null  object
 3   model                     28630 non-null  object
 4   location                  28630 non-null  object
 5   price                     28630 non-null  object
 6   Body type                 28630 non-null  object
 7   Type                      28630 non-null  object
 8   Doors                     28271 non-null  object
 9   Country version           16889 non-null  object
 10  Offer number              23100 non-null  object
 11  Warranty                  15784 non-null  object
 12  Mileage                   28629 non-null  object
 13  First registration        28628 non-null  object
 14  Gearbox                   28382 non-null  object
 15  Fuel type                 26843 non-null  object
 16  Colour                    26906 non-null  object
 17  Paint                     14495 non-null  object
 18  desc                      28047 non-null  object
 19  seller                    28630 non-null  object
 20  Seats                     25505 non-null  object
 21  Power                     28058 non-null  object
 22  Engine size               27227 non-null  object
 23  Gears                     18954 non-null  object
 24  CO₂-emissions             18594 non-null  object
 25  Manufacturer colour       21787 non-null  object
 26  Drivetrain                16893 non-null  object
 27  Cylinders                 18852 non-null  object
 28  Fuel consumption          23385 non-null  object
 29
Comfort & Convenience
   25433 non-null  object
 30
Entertainment & Media
   23644 non-null  object
 31
Safety & Security
       25415 non-null  object
 32
Extras
                  23480 non-null  object
 33  Empty weight              17758 non-null  object
 34  Model code                8367 non-null   object
 35  General inspection        12254 non-null  object
 36  Last service              2003 non-null   object
 37  Full service history      12565 non-null  object
 38  Non-smoker vehicle        11594 non-null  object
 39  Emission class            17859 non-null  object
 40  Emissions sticker         9414 non-null   object
 41  Upholstery colour         14569 non-null  object
 42  Upholstery                18610 non-null  object
 43  Production date           5908 non-null   float64
 44  Previous owner            14015 non-null  object
 45  Other fuel types          2313 non-null   object
 46  Power consumption         515 non-null    object
 47  Energy efficiency class   7804 non-null   object
 48  CO₂-efficiency            7804 non-null   object
 49  Fuel consumption (WLTP)   100 non-null    object
 50  CO₂-emissions (WLTP)      116 non-null    object
 51  Available from            393 non-null    object
 52  Taxi or rental car        422 non-null    object
 53  Availability              301 non-null    object
 54  Last timing belt change   572 non-null    object
 55  Electric Range (WLTP)     16 non-null     object
 56  Power consumption (WLTP)  16 non-null     object
 57  Battery Ownership         7 non-null      object
dtypes: float64(1), object(57)
memory usage: 13.0+ MB

In [5]:
df.columns

Index(['make_model', 'short_description', 'make', 'model', 'location', 'price',
       'Body type', 'Type', 'Doors', 'Country version', 'Offer number',
       'Warranty', 'Mileage', 'First registration', 'Gearbox', 'Fuel type',
       'Colour', 'Paint', 'desc', 'seller', 'Seats', 'Power', 'Engine size',
       'Gears', 'CO₂-emissions', 'Manufacturer colour', 'Drivetrain',
       'Cylinders', 'Fuel consumption', '\nComfort & Convenience\n',
       '\nEntertainment & Media\n', '\nSafety & Security\n', '\nExtras\n',
       'Empty weight', 'Model code', 'General inspection', 'Last service',
       'Full service history', 'Non-smoker vehicle', 'Emission class',
       'Emissions sticker', 'Upholstery colour', 'Upholstery',
       'Production date', 'Previous owner', 'Other fuel types',
       'Power consumption', 'Energy efficiency class', 'CO₂-efficiency',
       'Fuel consumption (WLTP)', 'CO₂-emissions (WLTP)', 'Available from',
       'Taxi or rental car', 'Availability', 'Last timing belt change',
       'Electric Range (WLTP)', 'Power consumption (WLTP)',
       'Battery Ownership'],
      dtype='object')

In [6]:
df.make_model.head()

0       Mercedes-Benz A 160
1     Mercedes-Benz EQE 350
2    Mercedes-Benz A 45 AMG
3    Mercedes-Benz A 35 AMG
4    Mercedes-Benz A 45 AMG
Name: make_model, dtype: object

In [7]:
df.make.head()

0    \nMercedes-Benz\n
1    \nMercedes-Benz\n
2    \nMercedes-Benz\n
3    \nMercedes-Benz\n
4    \nMercedes-Benz\n
Name: make, dtype: object

In [8]:
df.model.head()

0       [\n, A 160 ,\n]
1     [\n, EQE 350 ,\n]
2    [\n, A 45 AMG ,\n]
3    [\n, A 35 AMG ,\n]
4    [\n, A 45 AMG ,\n]
Name: model, dtype: object

In [9]:
#yukarıdaki make model veya make ve model split edilip kullanılabilir

In [10]:
df.short_description.head(10)

0                                                CDi
1                                               350+
2                                   S 4Matic+ 8G-DCT
3                                     4Matic+ 7G-DCT
4                           200CDI BE Line 4M 7G-DCT
5    Sp. Ed. C-Klasse Sportcoupe!TÜV N.!24 Mon. Gew.
6                                               180D
7                                             7G-DCT
8                                             4MATIC
9                                  200CDI Autotronic
Name: short_description, dtype: object

In [11]:
df.location.sample(5)

12119                13 Rue Des Ardennes,  21000 Dijon, FR
21392            Ludwig-Erhard-Str. 1-3,  03238 Massen, DE
5124     Koop jouw auto online 24/7,  1101 BA AMSTERDAM...
11604          Nürnberger Straße 131b,  97076 Würzburg, DE
6670                 Sluiswachter 26,  3861 SN NIJKERK, NL
Name: location, dtype: object

In [12]:
df.price.sample(10)

23364    € 15,490.-
7307     € 23,499.-
1705     € 24,999.-
5912     € 45,800.-
22057    € 50,940.-
9784     € 12,998.-
12276     € 9,944.-
22322    € 39,500.-
13610    € 34,990.-
14298    € 21,900.-
Name: price, dtype: object

In [54]:
df.price.value_counts(dropna=False)

price
NaN           850
€ 14,990.-    222
€ 12,990.-    219
€ 16,990.-    186
€ 19,990.-    166
             ...
€ 19,112.-      1
€ 30,465.-      1
€ 18,461.-      1
€ 22,649.-      1
€ 4,440.-       1
Name: count, Length: 5022, dtype: int64

In [56]:
df=df.dropna(subset=['price'])

In [57]:
df.price.value_counts(dropna=False)

price
€ 14,990.-    222
€ 12,990.-    219
€ 16,990.-    186
€ 19,990.-    166
€ 9,990.-     160
             ...
€ 19,112.-      1
€ 30,465.-      1
€ 18,461.-      1
€ 22,649.-      1
€ 4,440.-       1
Name: count, Length: 5021, dtype: int64

In [55]:
df['Body type'].sample(20)

6037     [\n, Off-Road/Pick-up, \n]
17676               [\n, Coupe, \n]
8403     [\n, Off-Road/Pick-up, \n]
3335                [\n, Coupe, \n]
8768     [\n, Off-Road/Pick-up, \n]
24535    [\n, Off-Road/Pick-up, \n]
5288          [\n, Convertible, \n]
22623    [\n, Off-Road/Pick-up, \n]
2693              [\n, Compact, \n]
4817              [\n, Compact, \n]
5406          [\n, Convertible, \n]
2002                [\n, Sedan, \n]
19413             [\n, Compact, \n]
15931    [\n, Off-Road/Pick-up, \n]
26147             [\n, Compact, \n]
14904       [\n, Station wagon, \n]
18484       [\n, Station wagon, \n]
3782     [\n, Off-Road/Pick-up, \n]
8819        [\n, Station wagon, \n]
25618               [\n, Sedan, \n]
Name: Body type, dtype: object

In [14]:
df['Body type'].value_counts(dropna=False)

Body type
[\n, Station wagon, \n]       5448
[\n, Off-Road/Pick-up, \n]    5415
[\n, Compact, \n]             5387
[\n, Sedan, \n]               5043
[\n, Coupe, \n]               4009
[\n, Convertible, \n]         3328
NaN                            850
Name: count, dtype: int64

In [15]:
#850 adet tipi bilinmeyen var

In [52]:
df.Type.sample(10)

22948              [\n, Used, \n]
267                [\n, Used, \n]
18471              [\n, Used, \n]
4171      [\n, Demonstration, \n]
12539              [\n, Used, \n]
25229              [\n, Used, \n]
11402              [\n, Used, \n]
29017              [\n, Used, \n]
15134    [\n, Employee's car, \n]
16443              [\n, Used, \n]
Name: Type, dtype: object

In [53]:
df.Type.value_counts(dropna=False)

Type
[\n, Used, \n]              25251
[\n, Demonstration, \n]      1433
[\n, Pre-registered, \n]     1377
NaN                           850
[\n, Employee's car, \n]      569
Name: count, dtype: int64

In [18]:
#850 adet tipi bilinmeyen var

In [19]:
df.Doors.value_counts(dropna=False)

Doors
[\n, 5, \n]    17481
[\n, 2, \n]     5523
[\n, 4, \n]     3001
[\n, 3, \n]     2259
NaN             1209
[\n, 6, \n]        5
[\n, 1, \n]        2
Name: count, dtype: int64

In [20]:
#1209 Nan value

In [21]:
df['Country version'].value_counts(dropna=False)

Country version
NaN                         12591
[\n, Germany, \n]            7939
[\n, Spain, \n]              6376
[\n, Italy, \n]               679
[\n, Belgium, \n]             641
[\n, European Union, \n]      340
[\n, Netherlands, \n]         306
[\n, Austria, \n]             266
[\n, France, \n]              101
[\n, United States, \n]        57
[\n, Czechia, \n]              47
[\n, Poland, \n]               31
[\n, Hungary, \n]              21
[\n, Denmark, \n]              21
[\n, Romania, \n]              12
[\n, Japan, \n]                12
[\n, Switzerland, \n]           9
[\n, Luxembourg, \n]            9
[\n, Sweden, \n]                6
[\n, Slovenia, \n]              5
[\n, Slovakia, \n]              4
[\n, Croatia, \n]               3
[\n, Bulgaria, \n]              1
[\n, Malta, \n]                 1
[\n, Canada, \n]                1
[\n, Mexico, \n]                1
Name: count, dtype: int64

In [22]:
#future eng yapılabilir ülke için

In [23]:
df['Offer number'].sample(10)

15243    [\n, MDX-QBCR3XWH, \n]
21290         [\n, 7413245, \n]
20779                       NaN
5876            [\n, aj812, \n]
16423            [\n, 3827, \n]
14654         [\n, MN-8067, \n]
1656                        NaN
23              [\n, 13031, \n]
13457     [\n, 76 - KO1414, \n]
11942          [\n, 328776, \n]
Name: Offer number, dtype: object

In [ ]:
df['Offer number'].isnull.sum()

In [26]:
df.columns

Index(['make_model', 'short_description', 'make', 'model', 'location', 'price',
       'Body type', 'Type', 'Doors', 'Country version', 'Offer number',
       'Warranty', 'Mileage', 'First registration', 'Gearbox', 'Fuel type',
       'Colour', 'Paint', 'desc', 'seller', 'Seats', 'Power', 'Engine size',
       'Gears', 'CO₂-emissions', 'Manufacturer colour', 'Drivetrain',
       'Cylinders', 'Fuel consumption', '\nComfort & Convenience\n',
       '\nEntertainment & Media\n', '\nSafety & Security\n', '\nExtras\n',
       'Empty weight', 'Model code', 'General inspection', 'Last service',
       'Full service history', 'Non-smoker vehicle', 'Emission class',
       'Emissions sticker', 'Upholstery colour', 'Upholstery',
       'Production date', 'Previous owner', 'Other fuel types',
       'Power consumption', 'Energy efficiency class', 'CO₂-efficiency',
       'Fuel consumption (WLTP)', 'CO₂-emissions (WLTP)', 'Available from',
       'Taxi or rental car', 'Availability', 'Last timing belt change',
       'Electric Range (WLTP)', 'Power consumption (WLTP)',
       'Battery Ownership'],
      dtype='object')

In [27]:
df.Warranty.sample(5)

13506                    NaN
11384    [\n, 12 months, \n]
2453                     NaN
3727                     NaN
27462                    NaN
Name: Warranty, dtype: object

In [28]:
df.Warranty.value_counts(dropna=False)

Warranty
NaN                     13696
[\n, 12 months, \n]      9545
[\n, Yes, \n]            2319
[\n, 24 months, \n]      1515
[\n, 60 months, \n]       968
                        ...
[\n, 55 months, \n]         1
[\n, 99 months, \n]         1
[\n, 122 months, \n]        1
[\n, 44 months, \n]         1
[\n, 4 months, \n]          1
Name: count, Length: 66, dtype: int64

In [ ]:
#warranty düşülebilir Nan fazla

In [29]:
df.Mileage.value_counts(dropna=False)

Mileage
NaN           851
10 km         586
1 km          172
50 km         133
100 km        119
             ...
141,589 km      1
59,821 km       1
123,500 km      1
29,781 km       1
230,047 km      1
Name: count, Length: 14184, dtype: int64

In [34]:
df.Mileage.sample(10)

7675     133,000 km
5631     235,000 km
7603     125,700 km
4042      82,450 km
15069     10,000 km
7163      35,963 km
16868     27,942 km
10168      5,000 km
10112      8,000 km
11856     99,288 km
Name: Mileage, dtype: object

In [37]:
df['First registration'].value_counts(dropna=False)

First registration
NaN        852
08/2022    454
06/2022    428
05/2019    420
06/2019    418
          ...
08/1980      1
06/1980      1
09/1970      1
06/1963      1
10/1979      1
Name: count, Length: 656, dtype: int64

In [ ]:
# veri tipi int olarak girilmiş. Tarih bilgileri içerdiği için datetime a çevirilebilir
# araçların model yılı kayıt yılı.

In [40]:
df['First registration'].sample(10)

18656    08/2020
10218    01/2016
9442     07/1990
11069    07/2022
26312    03/2018
17762    04/2019
748      07/2018
8384     01/2017
27144    07/1970
28847    10/2016
Name: First registration, dtype: object

In [46]:
df['First registration'].isnull

<bound method Series.isnull of 0        06/2016
1        06/2022
2        07/2020
3        01/2020
4        09/2015
          ...
29475    06/2004
29476    04/2011
29477    11/2017
29478    07/2002
29479        NaN
Name: First registration, Length: 29480, dtype: object>

In [47]:
df.Gearbox.sample(10)

9819        [\nManual\n]
23836       [\nManual\n]
22947       [\nManual\n]
6054     [\nAutomatic\n]
23750       [\nManual\n]
11125       [\nManual\n]
22616    [\nAutomatic\n]
3933     [\nAutomatic\n]
12004       [\nManual\n]
9579     [\nAutomatic\n]
Name: Gearbox, dtype: object

In [49]:
df.Gearbox.value_counts(dropna=False)

Gearbox
[\nManual\n]            17023
[\nAutomatic\n]         11287
NaN                      1098
[\nSemi-automatic\n]       72
Name: count, dtype: int64

In [50]:
df['Fuel type'].sample(10)

4986       Diesel
26530         NaN
6704     Super 95
9321     Gasoline
5428     Gasoline
16514    Gasoline
21929    Gasoline
653      Super 95
7164     Electric
7028     Gasoline
Name: Fuel type, dtype: object

In [51]:
df['Fuel type'].value_counts(dropna=False)

Fuel type
Gasoline                                                                                              8532
Diesel                                                                                                5911
Super 95                                                                                              3557
Diesel (Particle filter)                                                                              2816
NaN                                                                                                   2637
Regular/Benzine 91                                                                                    2065
Super E10 95                                                                                          1016
Regular/Benzine 91 (Particle filter)                                                                   555
Super 95 (Particle filter)                                                                             537
Super E10 95 (Particle filter)                                                                         324
Regular/Benzine E10 91                                                                                 278
Others                                                                                                 197
Gasoline (Particle filter)                                                                             196
Electric                                                                                               185
Super Plus 98                                                                                          170
Liquid petroleum gas (LPG)                                                                             148
CNG                                                                                                     87
LPG                                                                                                     73
Super Plus E10 98                                                                                       42
Super Plus E10 98 (Particle filter)                                                                     35
Domestic gas H                                                                                          24
Others (Particle filter)                                                                                16
Super Plus 98 (Particle filter)                                                                         15
Domestic gas L                                                                                          10
CNG (Particle filter)                                                                                    8
Regular/Benzine E10 91 (Particle filter)                                                                 8
LPG (Particle filter)                                                                                    4
Hydrogen                                                                                                 3
Ethanol                                                                                                  3
Electric (Particle filter)                                                                               3
Liquid petroleum gas (LPG) (Particle filter) / Super 95 / Super E10 95                                   3
Liquid petroleum gas (LPG) / Super 95 / Super Plus 98 / Super Plus E10 98 / Super E10 95                 2
Liquid petroleum gas (LPG) / Super 95 / Super E10 95                                                     2
Domestic gas L (Particle filter)                                                                         2
Liquid petroleum gas (LPG) (Particle filter)                                                             2
Liquid petroleum gas (LPG) / Super 95                                                                    2
Liquid petroleum gas (LPG) / Super 95 / Super E10 95 / Super Plus 98                                     2
Liquid petroleum gas (LPG) / Super 95 / Super Plus 98                                                    1
Super 95 (Particle filter) / Super E10 95 / Ethanol                                                      1
Liquid petroleum gas (LPG) / Super E10 95 / Super Plus E10 98 / Super Plus 98 / Super 95                 1
Liquid petroleum gas (LPG) / Super E10 95                                                                1
Biogas                                                                                                   1
Super 95 / Super Plus 98 / Liquid petroleum gas (LPG)                                                    1
Domestic gas L / Super 95 / Domestic gas H                                                               1
Domestic gas H / Super E10 95 / Super Plus E10 98 / Super 95 / Super Plus 98 / Domestic gas L            1
Liquid petroleum gas (LPG) / Super E10 95 / Regular/Benzine 91 / Super 95 / Super Plus 98 / Biogas       1
Super 95 / Liquid petroleum gas (LPG)                                                                    1
Name: count, dtype: int64

In [1]:
#aynı türden olanlar ortak bir isimde toplanabilir

# PART- 2 `( Handling With Missing Vales )`

# PART- 3 `( Handling With Outliers )`

# Final Step (Checking final situation of data via graphs)

## Export dataframe to csv file (without dummy)

In [ ]:
df.to_csv("final_scout_not_dummy.csv", index=False)

# Dummy Operation

## Export dataframe to csv file (dummy)

In [ ]:
df_dummied.to_csv("final_scout_dummy.csv", index=False)

<a href="https://clarusway.com/"><img align="center" src="https://i.ibb.co/Rpz9L36/clarusway-logo-black.png" width="450" height="200" alt="CLRSWY_LOGO" title="Open and Execute in Google Colaboratory"></a><br/>

<p style="background-color:#E51A59; font-family:newtimeroman; color:#FDFEFE; font-size:130%; text-align:center; border-radius:10px 10px;">WAY TO REINVENT YOURSELF</p>